## **Problem 8: SQL**

# Part 4.

In [1]:
import json
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from huggingface_hub.utils import disable_progress_bars
import re
import os
from sentence_transformers import SentenceTransformer
import faiss 

os.environ["TORCH_COMPILE_DISABLE"] = "1" 
os.environ["HF_HUB_DOWNLOAD_TIMEOUT"] = "900" 
disable_progress_bars()

DATA_DIR = "spider" 
MODEL_ID = "google/gemma-2b-it" 
EMBEDDER_MODEL_ID = "sentence-transformers/all-MiniLM-L6-v2" 

bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,                 
    bnb_4bit_use_double_quant=True,    
    bnb_4bit_quant_type="nf4",         
    bnb_4bit_compute_dtype=torch.bfloat16, 
)

try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_ID,
        quantization_config=bnb_config, 
        device_map="auto"               
    )
    model.eval() 
except Exception as e:
    print(f"Failed to load LLM: {e}")
    exit()

try:
    embedder = SentenceTransformer(EMBEDDER_MODEL_ID)
    embedder.eval() 
except Exception as e:
    print(f"Failed to load Embedder: {e}")
    exit()

def load_json_file(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def load_sql_file_as_list(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        content = f.read()
        content = re.sub(r'--.*$', '', content, flags=re.MULTILINE)
        content = re.sub(r'/\*.*?\*/', '', content, flags=re.DOTALL)
        queries = [q.strip() for q in content.split(';') if q.strip()]
        return queries

def get_schema_chunks_for_db(db_id, tables_data, include_pk_fk=True):
    db_found = None
    for db in tables_data:
        if db['db_id'] == db_id:
            db_found = db
            break
    
    if not db_found:
        return [] 

    chunks = []
    for table_idx, table_name_original in enumerate(db_found['table_names_original']):
        table_schema_text = f"CREATE TABLE {table_name_original} (\n"
        table_cols = []
        for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']):
            if col_table_idx == table_idx:
                col_type = "TEXT" 
                table_cols.append(f"   {col_name_original} {col_type}")
        
        table_schema_text += ",\n".join(table_cols)
        table_schema_text += "\n);"
        
        pk_fk_info = ""
        if include_pk_fk:
            for pk_col_idx in db_found.get('primary_keys', []):
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx]
                if db_found['table_names_original'][pk_table_idx] == table_name_original:
                    pk_fk_info += f"\n-- {table_name_original}.{pk_col_name} is PRIMARY KEY"
            
            for fk_info in db_found.get('foreign_keys', []):
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx]
                if db_found['table_names_original'][fk_table_idx] == table_name_original:
                    ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx]
                    ref_table_name = db_found['table_names_original'][ref_table_idx]
                    pk_fk_info += f"\n-- {table_name_original}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}"
        
        chunk_text = table_schema_text + pk_fk_info
        chunks.append({
            "text": chunk_text,
            "db_id": db_id,
            "table_name": table_name_original
        })
    return chunks

def create_sql_generation_prompt(question, retrieved_schema_chunks_text):
    prompt = (
        "You are a skilled SQL assistant. Given the following SQL database schema information and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the provided schema information.\n\n"
        "### Relevant Database Schema Information:\n" 
        f"{retrieved_schema_chunks_text}\n\n"
        "### Question:\n"
        f"{question}\n\n"
        "### SQL Query:\n"
    )
    return prompt

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned_text = generated_text.replace(prompt_text, "").strip()
    cleaned_text = re.sub(r'```sql\s*', '', cleaned_text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'```\s*', '', cleaned_text, flags=re.IGNORECASE)
    if ';' in cleaned_text:
        cleaned_text = cleaned_text.split(';')[0].strip()
    return cleaned_text

def normalize_sql(sql_query):
    sql_query = re.sub(r'\s+', ' ', sql_query).strip()
    sql_query = sql_query.upper()
    return sql_query

def calculate_exact_match(predicted_sql, gold_sql):
    return 1 if normalize_sql(predicted_sql) == normalize_sql(gold_sql) else 0

def calculate_jaccard_similarity(predicted_sql, gold_sql):
    set1 = set(normalize_sql(predicted_sql).split())
    set2 = set(normalize_sql(gold_sql).split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 1.0 
    return intersection / union

try:
    dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
    print(f"Loaded {len(dev_data)} dev samples.")

    tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))
    print(f"Loaded {len(tables_data)} table schemas.")

except FileNotFoundError as e:
    print(f"[ERROR] {e}")
    exit()

all_schema_chunks = []
for db_entry in tables_data:
    all_schema_chunks.extend(get_schema_chunks_for_db(db_entry['db_id'], tables_data, include_pk_fk=True)) # Use full schema for indexing

chunk_texts = [chunk['text'] for chunk in all_schema_chunks]
chunk_db_ids = [chunk['db_id'] for chunk in all_schema_chunks]
chunk_table_names = [chunk['table_name'] for chunk in all_schema_chunks]
chunk_embeddings = embedder.encode(chunk_texts, show_progress_bar=True, convert_to_tensor=True)

embedding_dimension = chunk_embeddings.shape[1]
index = faiss.IndexFlatL2(embedding_dimension) 
index.add(chunk_embeddings.cpu().numpy()) 

def retrieve_relevant_schema_info(question, db_id, top_k_tables=3):
    db_specific_indices = [i for i, id_val in enumerate(chunk_db_ids) if id_val == db_id]
    
    if not db_specific_indices:
        return get_schema_chunks_for_db(db_id, tables_data, include_pk_fk=True)[0]['text'] if get_schema_chunks_for_db(db_id, tables_data, include_pk_fk=True) else ""

    db_specific_embeddings = chunk_embeddings[db_specific_indices].cpu().numpy()
    db_index = faiss.IndexFlatL2(embedding_dimension)
    db_index.add(db_specific_embeddings)
    question_embedding = embedder.encode(question, convert_to_tensor=True).cpu().numpy().reshape(1, -1)
    distances, retrieved_local_indices = db_index.search(question_embedding, top_k_tables)
    retrieved_global_indices = [db_specific_indices[idx] for idx in retrieved_local_indices[0]]
    retrieved_chunks_text = [all_schema_chunks[idx]['text'] for idx in retrieved_global_indices]
    
    return "\n\n".join(retrieved_chunks_text)

exact_matches = 0
jaccard_scores = 0.0
total_processed_samples = 0

num_samples_to_test = len(dev_data) 

for i, sample in enumerate(dev_data[:num_samples_to_test]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query'] 
    
    retrieved_schema_text = retrieve_relevant_schema_info(question, db_id, top_k_tables=3) 
    prompt = create_sql_generation_prompt(question, retrieved_schema_text)
    
    generated_sql = "" 
    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(model.device) 
        with torch.no_grad(): 
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100, 
                num_beams=1,        
                do_sample=False,    
                pad_token_id=tokenizer.eos_token_id 
            )
            
        generated_text_full = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(generated_text_full, prompt)


        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js
        total_processed_samples += 1

        if i < 100: 
            print(f"\n--- Sample {i+1} (RAG) ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Retrieved Schema:\n{retrieved_schema_text[:300]}...") 
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"[ERROR] Processing sample {i} (Question: {question}, DB: {db_id}): {e}")
        
print("\n Final Evaluation Results for Model with RAG:")
if total_processed_samples > 0:
    avg_em = exact_matches / total_processed_samples
    avg_js = jaccard_scores / total_processed_samples
    print(f"Total samples evaluated: {total_processed_samples}")
    print(f"Average Exact Match (EM): {avg_em:.4f}")
    print(f"Average Jaccard Similarity (JS): {avg_js:.4f}")
else:
    print("No samples were successfully evaluated.")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Loaded 1034 dev samples.
Loaded 166 table schemas.

Batches:   0%|          | 0/28 [00:00<?, ?it/s]

--- Sample 1 (RAG) ---
Database ID: concert_singer
Question: How many singers do we have?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 (RAG) ---
Database ID: concert_singer
Question: What is the total number of singers?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 (RAG) ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 4 (RAG) ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 5 (RAG) ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT AVG(Age), MIN(Age), MAX(Age)
FROM singer
WHERE Country = 'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6154

--- Sample 6 (RAG) ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT AVG(Age), MIN(Age), MAX(Age)
FROM singer
WHERE Country = 'France'
GROUP BY Country
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5333

--- Sample 7 (RAG) ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY s.Name ASC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1515

--- Sample 8 (RAG) ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY s.Name
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 9 (RAG) ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT DISTINCT s.Country
FROM singer s
JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > 20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3043

--- Sample 10 (RAG) ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT DISTINCT s.Country
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > 20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2917

--- Sample 11 (RAG) ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Country, COUNT(s.Singer_ID) AS num_singers
FROM singer s
INNER JOIN singer_in_concert sic
ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
GROUP BY s.Country
ORDER BY s.Country
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1852

--- Sample 12 (RAG) ---
Database ID: concert_singer
Question: How many singers are from each country?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Singer_ID, c.Country
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
GROUP BY s.Singer_ID, c.Country
ORDER BY s.Singer_ID
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2083

--- Sample 13 (RAG) ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Name, c.Song_Name
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
ORDER BY s.Name
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 14 (RAG) ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Retrieved Schema:
CREATE TABLE singer (
   Singer_ID TEXT,
   Name TEXT,
   Country TEXT,
   Song_Name TEXT,
   Song_release_year TEXT,
   Age TEXT,
   Is_male TEXT
);
-- singer.Singer_ID is PRIMARY KEY

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert.concert_ID is PRIMA...
Generated SQL: SELECT s.Name, c.Song_Name
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3077

--- Sample 15 (RAG) ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Retrieved Schema:
CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
   Highest TEXT,
   Lowest TEXT,
   Average TEXT
);
-- stadium.Stadium_ID is PRIMARY KEY

CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-...
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 16 (RAG) ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Retrieved Schema:
CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
   Highest TEXT,
   Lowest TEXT,
   Average TEXT
);
-- stadium.Stadium_ID is PRIMARY KEY

CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-...
Generated SQL: SELECT DISTINCT s.Location, s.Name
FROM stadium s
INNER JOIN singer_in_concert sic
ON s.Stadium_ID = sic.concert_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 17 (RAG) ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Retrieved Schema:
CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
   Highest TEXT,
   Lowest TEXT,
   Average TEXT
);
-- stadium.Stadium_ID is PRIMARY KEY

CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-...
Generated SQL: SELECT AVG(capacity) AS average_capacity, MAX(capacity) AS maximum_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 18 (RAG) ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Retrieved Schema:
CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
   Highest TEXT,
   Lowest TEXT,
   Average TEXT
);
-- stadium.Stadium_ID is PRIMARY KEY

CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-...
Generated SQL: SELECT AVG(capacity) AS average_capacity, MAX(capacity) AS max_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 19 (RAG) ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Retrieved Schema:
CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
   Highest TEXT,
   Lowest TEXT,
   Average TEXT
);
-- stadium.Stadium_ID is PRIMARY KEY

CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-...
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
WHERE s.Average = (SELECT MAX(s.Average) FROM stadium)
ORDER BY s.Capacity DESC
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 20 (RAG) ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Retrieved Schema:
CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
   Highest TEXT,
   Lowest TEXT,
   Average TEXT
);
-- stadium.Stadium_ID is PRIMARY KEY

CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-...
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
WHERE s.Average = (SELECT MAX(s.Average) FROM stadium)
ORDER BY s.Capacity DESC
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 21 (RAG) ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert...
Generated SQL: SELECT COUNT(*) FROM concert WHERE Year = 2014 OR Year = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 22 (RAG) ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert...
Generated SQL: SELECT COUNT(*) FROM concert WHERE Year = '2014' OR Year = '2015'
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 23 (RAG) ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
 ...
Generated SQL: SELECT s.Name, COUNT(*) AS num_concerts
FROM stadium s
INNER JOIN singer_in_concert sic ON s.Stadium_ID = sic.concert_ID
GROUP BY s.Name
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3571

--- Sample 24 (RAG) ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
 ...
Generated SQL: SELECT COUNT(*) AS num_concerts
FROM concert
GROUP BY stadium_id
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3684

--- Sample 25 (RAG) ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
 ...
Generated SQL: SELECT s.Name, c.Stadium_ID, COUNT(c.concert_ID) AS num_concerts
FROM stadium s
INNER JOIN singer_in_concert sic ON s.Stadium_ID = sic.concert_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE c.Year = 2014
GROUP BY s.Name, c.Stadium_ID
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3500

--- Sample 26 (RAG) ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE stadium (
   Stadium_ID TEXT,
   Location TEXT,
   Name TEXT,
   Capacity TEXT,
 ...
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE c.Year >= 2013
GROUP BY s.Name, s.Capacity
ORDER BY s.Capacity DESC
LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 27 (RAG) ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Retrieved Schema:
CREATE TABLE concert (
   concert_ID TEXT,
   concert_Name TEXT,
   Theme TEXT,
   Stadium_ID TEXT,
   Year TEXT
);
-- concert.concert_ID is PRIMARY KEY
-- concert.Stadium_ID REFERENCES stadium.Stadium_ID

CREATE TABLE singer_in_concert (
   concert_ID TEXT,
   Singer_ID TEXT
);
-- singer_in_concert...
Generated SQL: SELECT YEAR(year) AS year_with_most_concerts
FROM concert
GROUP BY YEAR(year)
ORDER BY COUNT(*) DESC
LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7143

--- Sample 28 (RAG) ---
Database ID: concert_singer