## **Problem 8: SQL**

# Part 3.

- Zero-shot

In [ ]:
import json
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from huggingface_hub.utils import disable_progress_bars
import re
import os

# Initial environment settings 
os.environ["TORCH_COMPILE_DISABLE"] = "1" 
os.environ["HF_HUB_DOWNLOAD_TIMEOUT"] = "900" 
disable_progress_bars()

DATA_DIR = "spider" 
MODEL_ID = "google/gemma-2b-it"
print(f"Loading tokenizer and model: {MODEL_ID}...")

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,                 
    bnb_4bit_use_double_quant=True,    
    bnb_4bit_quant_type="nf4",         
    bnb_4bit_compute_dtype=torch.bfloat16, 
)

try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_ID,
        quantization_config=bnb_config, 
        device_map="auto"               
    )
    model.eval() 
    print("Model loaded successfully.")
except Exception as e:
    print(f"Error loading model or tokenizer: {e}")
    exit()

# Load JSON, SQL files and split SQL into individual queries
def load_json_file(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def load_sql_file_as_list(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        content = f.read()
        content = re.sub(r'--.*$', '', content, flags=re.MULTILINE)
        content = re.sub(r'/\*.*?\*/', '', content, flags=re.DOTALL)
        queries = [q.strip() for q in content.split(';') if q.strip()]
        return queries

# Extract database schema for prompt creation
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    prompt = (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        "### Database Schema:\n"
        f"{schema}\n\n"
        "### Question:\n"
        f"{question}\n\n"
        "### SQL Query:\n"
    )
    return prompt

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned_text = generated_text.replace(prompt_text, "").strip()
    cleaned_text = re.sub(r'```sql\s*', '', cleaned_text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'```\s*', '', cleaned_text, flags=re.IGNORECASE)
    if ';' in cleaned_text:
        cleaned_text = cleaned_text.split(';')[0].strip()
    return cleaned_text

# Load dataset files
try:
    train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
    train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
    all_train_data = train_spider_data + train_others_data
    print(f"Loaded {len(all_train_data)} training samples.")

    train_gold_queries_raw = load_sql_file_as_list(os.path.join(DATA_DIR, "train_gold.sql"))
    print(f"Loaded {len(train_gold_queries_raw)} gold SQL queries.")

    dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
    print(f"Loaded {len(dev_data)} dev samples.")

    tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))
    print(f"Loaded {len(tables_data)} table schemas.")

except FileNotFoundError as e:
    print(e)
    print(f"Please ensure all dataset files are in the specified DATA_DIR: '{DATA_DIR}' folder.")
    exit()

def normalize_sql(sql_query):
    sql_query = re.sub(r'\s+', ' ', sql_query).strip()
    sql_query = sql_query.upper()
    return sql_query

# Exact match comparison
def calculate_exact_match(predicted_sql, gold_sql):
    return 1 if normalize_sql(predicted_sql) == normalize_sql(gold_sql) else 0

# Jaccard similarity
def calculate_jaccard_similarity(predicted_sql, gold_sql):
    set1 = set(normalize_sql(predicted_sql).split())
    set2 = set(normalize_sql(gold_sql).split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 1.0 
    return intersection / union


# Evaluate the model
exact_matches = 0
jaccard_scores = 0.0
total_processed_samples = 0

num_samples_to_test = len(dev_data) 

for i, sample in enumerate(dev_data[:num_samples_to_test]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query'] 
    
    schema = get_db_schema_for_prompt(db_id, tables_data) 
    prompt = create_sql_generation_prompt(question, schema)
    
    generated_sql = "" 
    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(model.device) 
        with torch.no_grad(): 
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100, 
                num_beams=1,        
                do_sample=False,    
                pad_token_id=tokenizer.eos_token_id 
            )
            
        generated_text_full = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(generated_text_full, prompt)


        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js
        total_processed_samples += 1

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error processing sample {i} (Question: {question}, DB: {db_id}): {e}")
        
# Final evaluation report
print(f"\nFinal Evaluation Results for Base Model:")
if total_processed_samples > 0:
    avg_em = exact_matches / total_processed_samples
    avg_js = jaccard_scores / total_processed_samples
    print(f"Average Exact Match (EM): {avg_em:.4f}")
    print(f"Average Jaccard Similarity (JS): {avg_js:.4f}")
else:
    print("No samples evaluated.")

print("\nBase model evaluation complete.")

- One-shot

In [1]:
import json
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from huggingface_hub.utils import disable_progress_bars
import re
import os

# Initial environment settings 
os.environ["TORCH_COMPILE_DISABLE"] = "1" 
os.environ["HF_HUB_DOWNLOAD_TIMEOUT"] = "900" 
disable_progress_bars()

DATA_DIR = "spider" 
MODEL_ID = "google/gemma-2b-it"
print(f"Loading tokenizer and model: {MODEL_ID}...")

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,                 
    bnb_4bit_use_double_quant=True,    
    bnb_4bit_quant_type="nf4",         
    bnb_4bit_compute_dtype=torch.bfloat16, 
)

try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_ID,
        quantization_config=bnb_config, 
        device_map="auto"               
    )
    model.eval() 
    print("Model loaded successfully.")
except Exception as e:
    print(f"Error loading model or tokenizer: {e}")
    exit()

# Load JSON, SQL files and split SQL into individual queries
def load_json_file(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def load_sql_file_as_list(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        content = f.read()
        content = re.sub(r'--.*$', '', content, flags=re.MULTILINE)
        content = re.sub(r'/\*.*?\*/', '', content, flags=re.DOTALL)
        queries = [q.strip() for q in content.split(';') if q.strip()]
        return queries

# Extract database schema for prompt creation
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# prompt for ONE-SHOT
def create_sql_generation_prompt(question, schema):
    one_shot_example = (
        "### Example Question:\n"
        "How many heads of the departments are older than 56?\n"
        "### Example SQL:\n"
        "SELECT count(*) FROM head WHERE age > 56\n\n"
    )
    prompt = (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        "### Database Schema:\n"
        f"{schema}\n\n"
        f"{one_shot_example}"
        "### Question:\n"
        f"{question}\n\n"
        "### SQL Query:\n"
    )
    return prompt

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned_text = generated_text.replace(prompt_text, "").strip()
    cleaned_text = re.sub(r'```sql\s*', '', cleaned_text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'```\s*', '', cleaned_text, flags=re.IGNORECASE)
    if ';' in cleaned_text:
        cleaned_text = cleaned_text.split(';')[0].strip()
    return cleaned_text

# Load dataset files
try:
    train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
    train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
    all_train_data = train_spider_data + train_others_data
    print(f"Loaded {len(all_train_data)} training samples.")

    train_gold_queries_raw = load_sql_file_as_list(os.path.join(DATA_DIR, "train_gold.sql"))
    print(f"Loaded {len(train_gold_queries_raw)} gold SQL queries.")

    dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
    print(f"Loaded {len(dev_data)} dev samples.")

    tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))
    print(f"Loaded {len(tables_data)} table schemas.")

except FileNotFoundError as e:
    print(e)
    print(f"Please ensure all dataset files are in the specified DATA_DIR: '{DATA_DIR}' folder.")
    exit()

def normalize_sql(sql_query):
    sql_query = re.sub(r'\s+', ' ', sql_query).strip()
    sql_query = sql_query.upper()
    return sql_query

def calculate_exact_match(predicted_sql, gold_sql):
    return 1 if normalize_sql(predicted_sql) == normalize_sql(gold_sql) else 0

def calculate_jaccard_similarity(predicted_sql, gold_sql):
    set1 = set(normalize_sql(predicted_sql).split())
    set2 = set(normalize_sql(gold_sql).split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 1.0 
    return intersection / union

# Evaluate the model
exact_matches = 0
jaccard_scores = 0.0
total_processed_samples = 0

num_samples_to_test = len(dev_data) 

for i, sample in enumerate(dev_data[:num_samples_to_test]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query'] 
    
    schema = get_db_schema_for_prompt(db_id, tables_data) 
    prompt = create_sql_generation_prompt(question, schema)
    
    generated_sql = "" 
    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(model.device) 
        with torch.no_grad(): 
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100, 
                num_beams=1,        
                do_sample=False,    
                pad_token_id=tokenizer.eos_token_id 
            )
            
        generated_text_full = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(generated_text_full, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js
        total_processed_samples += 1

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error processing sample {i} (Question: {question}, DB: {db_id}): {e}")
        
# Final evaluation report
print(f"\nFinal Evaluation Results:")
if total_processed_samples > 0:
    avg_em = exact_matches / total_processed_samples
    avg_js = jaccard_scores / total_processed_samples
    print(f"Average Exact Match (EM): {avg_em:.4f}")
    print(f"Average Jaccard Similarity (JS): {avg_js:.4f}")
else:
    print("No samples evaluated.")

print("\nBase model (One-Shot) evaluation complete.")

Loading tokenizer and model: google/gemma-2b-it...

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Model loaded successfully.
Loaded 8659 training samples.
Loaded 2047 gold SQL queries.
Loaded 1034 dev samples.
Loaded 166 table schemas.

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age) FROM singer WHERE country = 'France'

Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6154

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age) FROM singer WHERE country = 'France' AND name LIKE '%French%' GROUP BY country
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4211

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY sr.Song_release_year DESC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1429

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY sr.Song_release_year
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1471

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT s.Country
FROM singer s
JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > 20

Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3043

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT s.Name, COUNT(si.Singer_ID) AS num_heads
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Age > 20
GROUP BY s.Name

Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2121

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT s.Name AS Country, COUNT(s.Singer_ID) AS Number_of_Singers
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Country NOT IN ('USA', 'Canada')
GROUP BY
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1429

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_shows
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Country = 'USA'
GROUP BY s.Name
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_heads
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
GROUP BY s.Name
ORDER BY num_heads DESC
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2424

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_heads
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
GROUP BY s.Name
ORDER BY num_heads DESC
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2424

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT AVG(capacity) AS avg_capacity, MAX(capacity) AS max_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT AVG(capacity) AS avg_capacity, MAX(capacity) AS max_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT s.Name, s.Capacity FROM stadium s
WHERE s.Average = (SELECT MAX(s.Average) FROM stadium)
ORDER BY s.Capacity DESC
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT s.Name, s.Capacity FROM stadium s
WHERE s.Average = (SELECT AVG(Average) FROM concert c WHERE c.Stadium_ID = s.Stadium_ID)
ORDER BY s.Capacity DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3333

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(year) = 2014 OR YEAR(year) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(year) = 2014 OR YEAR(year) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
GROUP BY s.Name
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3571

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT COUNT(*) FROM concert WHERE stadium_id = (SELECT stadium_id FROM stadium WHERE name = 'The Stadium')
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2609

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE YEAR(c.Year) = 2014
GROUP BY s.Name, s.Capacity
ORDER BY COUNT(*) DESC
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3415

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE c.Year >= 2013
GROUP BY s.Name, s.Capacity
ORDER BY COUNT(*) DESC
LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4571

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT year FROM concert GROUP BY year ORDER BY COUNT(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT MAX(year) FROM concert
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
LEFT JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE c.concert_ID IS NULL
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1667

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT sc.Stadium_ID
  FROM concert sc
)
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3158

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT s.Location
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE s.Name = 'Artist Name'
  AND s.Age > 40
  AND sic.Singer_ID = s.Singer_ID
  AND s.Age < 30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2581

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT stadium_id
  FROM concert c
  WHERE c.Year = 2014
)

Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2414

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
WHERE s.Year NOT IN (2014)

Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1600

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT c.concert_Name, c.Theme, COUNT(s.Singer_ID) AS num_singers
FROM concert c
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
GROUP BY c.concert_ID, c.Theme
ORDER BY c.concert_Name
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT s.Name, c.Theme, COUNT(s.Singer_ID) AS num_singers
FROM concert c
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE s.Age > 56
GROUP BY s.Name, c.Theme
ORDER BY s.Name
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2632

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE c.Stadium_ID = s.Stadium_ID
AND c.Year = '2023'
GROUP BY s.Name
ORDER BY num_concer
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2632

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > 56
GROUP BY s.Name

Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2941

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN concert_singer sc ON c.concert_id = sc.concert_id
WHERE c.Year = 2014
GROUP BY s.Name

Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2727

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.Singer_ID
INNER JOIN concert_singer sc ON c.concert_ID = sc.concert_ID
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2903

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT s.Name, s.Country FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE c.concert_Name = 'Hey'
GROUP BY s.Name, s.Country
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1379

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT s.Name, s.Country
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Name IN (
  SELECT Name FROM singer WHERE Song_Name LIKE '%Hey%'
)
GROUP BY s.Name,
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2353

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT s.Name, s.Location
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE c.Year BETWEEN 2014 AND 2015
GROUP BY s.Name, s.Location

Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2564

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT s.Name, s.Location
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE c.Year = 2014 OR c.Year = 2015
GROUP BY s.Name, s.

- Few-shot

In [2]:
import json
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from huggingface_hub.utils import disable_progress_bars
import re
import os

# Initial environment settings 
os.environ["TORCH_COMPILE_DISABLE"] = "1" 
os.environ["HF_HUB_DOWNLOAD_TIMEOUT"] = "900" 
disable_progress_bars()

DATA_DIR = "spider" 
MODEL_ID = "google/gemma-2b-it"
print(f"Loading tokenizer and model: {MODEL_ID}...")

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,                 
    bnb_4bit_use_double_quant=True,    
    bnb_4bit_quant_type="nf4",         
    bnb_4bit_compute_dtype=torch.bfloat16, 
)

try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_ID,
        quantization_config=bnb_config, 
        device_map="auto"               
    )
    model.eval() 
    print("Model loaded successfully.")
except Exception as e:
    print(f"Error loading model or tokenizer: {e}")
    exit()

# Load JSON, SQL files and split SQL into individual queries
def load_json_file(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def load_sql_file_as_list(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        content = f.read()
        content = re.sub(r'--.*$', '', content, flags=re.MULTILINE)
        content = re.sub(r'/\*.*?\*/', '', content, flags=re.DOTALL)
        queries = [q.strip() for q in content.split(';') if q.strip()]
        return queries

# Extract database schema for prompt creation
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# prompt for Few-Shot
def create_sql_generation_prompt(question, schema):
    few_shot_examples = (
        "### Example Question:\n"
        "How many heads of the departments are older than 56?\n"
        "### Example SQL:\n"
        "SELECT count(*) FROM head WHERE age > 56\n\n"

        "### Example Question:\n"
        "List the name, born state and age of the heads of departments ordered by age.\n"
        "### Example SQL:\n"
        "SELECT name, born_state, age FROM head ORDER BY age\n\n"

        "### Example Question:\n"
        "List the creation year, name and budget of each department.\n"
        "### Example SQL:\n"
        "SELECT creation, name, budget_in_billions FROM department\n\n"
    )

    prompt = (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        "### Database Schema:\n"
        f"{schema}\n\n"
        f"{few_shot_examples}"
        "### Question:\n"
        f"{question}\n\n"
        "### SQL Query:\n"
    )
    return prompt

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned_text = generated_text.replace(prompt_text, "").strip()
    cleaned_text = re.sub(r'```sql\s*', '', cleaned_text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'```\s*', '', cleaned_text, flags=re.IGNORECASE)
    if ';' in cleaned_text:
        cleaned_text = cleaned_text.split(';')[0].strip()
    return cleaned_text

# Load dataset files
try:
    train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
    train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
    all_train_data = train_spider_data + train_others_data
    print(f"Loaded {len(all_train_data)} training samples.")

    train_gold_queries_raw = load_sql_file_as_list(os.path.join(DATA_DIR, "train_gold.sql"))
    print(f"Loaded {len(train_gold_queries_raw)} gold SQL queries.")

    dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
    print(f"Loaded {len(dev_data)} dev samples.")

    tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))
    print(f"Loaded {len(tables_data)} table schemas.")

except FileNotFoundError as e:
    print(e)
    print(f"Please ensure all dataset files are in the specified DATA_DIR: '{DATA_DIR}' folder.")
    exit()

def normalize_sql(sql_query):
    sql_query = re.sub(r'\s+', ' ', sql_query).strip()
    sql_query = sql_query.upper()
    return sql_query

# Exact match comparison
def calculate_exact_match(predicted_sql, gold_sql):
    return 1 if normalize_sql(predicted_sql) == normalize_sql(gold_sql) else 0

# Jaccard similarity
def calculate_jaccard_similarity(predicted_sql, gold_sql):
    set1 = set(normalize_sql(predicted_sql).split())
    set2 = set(normalize_sql(gold_sql).split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 1.0 
    return intersection / union


# Evaluate the model
exact_matches = 0
jaccard_scores = 0.0
total_processed_samples = 0

num_samples_to_test = len(dev_data) 

for i, sample in enumerate(dev_data[:num_samples_to_test]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query'] 
    
    schema = get_db_schema_for_prompt(db_id, tables_data) 
    prompt = create_sql_generation_prompt(question, schema)
    
    generated_sql = "" 
    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(model.device) 
        with torch.no_grad(): 
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100, 
                num_beams=1,        
                do_sample=False,    
                pad_token_id=tokenizer.eos_token_id 
            )
            
        generated_text_full = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(generated_text_full, prompt)


        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js
        total_processed_samples += 1

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error processing sample {i} (Question: {question}, DB: {db_id}): {e}")
        
# Final evaluation report
print(f"\nFinal Evaluation Results:")
if total_processed_samples > 0:
    avg_em = exact_matches / total_processed_samples
    avg_js = jaccard_scores / total_processed_samples
    print(f"Average Exact Match (EM): {avg_em:.4f}")
    print(f"Average Jaccard Similarity (JS): {avg_js:.4f}")
else:
    print("No samples evaluated.")

print("\nBase model (Few-shot) evaluation complete.")

Loading tokenizer and model: google/gemma-2b-it...

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Model loaded successfully.
Loaded 8659 training samples.
Loaded 2047 gold SQL queries.
Loaded 1034 dev samples.
Loaded 166 table schemas.

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age) FROM singer WHERE country = 'France'

Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6154

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age) FROM singer WHERE country = 'France' GROUP BY country
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5333

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY s.Age ASC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1429

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Name = 'Youngest'
ORDER BY sr.Song_release_year ASC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1515

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT s.Country
FROM singer s
JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > 20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3043

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT s.Name, s.Country, c.Year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > 20
GROUP BY s.Name, s.Country, c.Year
ORDER BY c.Year
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2069

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT s.Name, COUNT(s.Singer_ID) AS num_singers
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Country = 'United States'
GROUP BY s.Name
ORDER BY s
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1471

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT s.Name, c.Country, COUNT(si.Singer_ID) AS num_singers
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
GROUP BY s.Name, c.Country
ORDER BY s.Name
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT s.Name, s.Country, c.Year, s.Song_Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.Singer_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Age > (SELECT AVG(Age) FROM head)
ORDER BY s.
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2000

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT s.Name, s.Country, c.Year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
GROUP BY s.Name, s.Country, c.Year
ORDER BY c.Year
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2667

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT stadium.Location, stadium.Name
FROM stadium
WHERE stadium.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5333

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
JOIN singer_in_concert sic ON s.Stadium_ID = sic.concert_ID
JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3077

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT AVG(capacity) AS average_capacity, MAX(capacity) AS maximum_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT AVG(capacity) AS average_capacity, MAX(capacity) AS maximum_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT Name, Capacity
FROM stadium
WHERE Average = (SELECT MAX(Average) FROM stadium)
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2778

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT name, capacity FROM stadium WHERE average = (SELECT AVG(average) FROM concert) ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(year) = 2014 OR YEAR(year) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(year) = 2014 OR YEAR(year) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT s.Name AS stadium_name, COUNT(c.concert_ID) AS num_concerts
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
GROUP BY s.Stadium_ID
ORDER BY s.Name
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3704

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT COUNT(*) FROM concert WHERE stadium_id = (SELECT stadium_id FROM stadium WHERE name = 'The Stadium')
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2609

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT s.Stadium_Name, s.Capacity
FROM stadium s
JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE YEAR(c.Year) = 2014
GROUP BY s.Stadium_ID, s.Capacity
ORDER BY COUNT(*) DESC
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4118

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT name, capacity
FROM stadium
WHERE year >= 2013
ORDER BY capacity DESC
LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3333

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT year FROM concert GROUP BY year ORDER BY COUNT(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT year FROM concert GROUP BY year ORDER BY COUNT(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT DISTINCT stadium.Stadium_ID
FROM stadium
WHERE concert_ID IS NULL
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2667

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT stadium_id
  FROM concert
)
ORDER BY s.Name
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3684

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT s.Location
FROM singer s
JOIN concert c ON s.Singer_ID = c.singer_id
JOIN head h ON c.concert_ID = h.concert_id
WHERE s.Name = 'John Doe'
  AND h.Age > 40
  AND s.Name NOT IN (
    SELECT singer.Name
    FROM singer
    WHERE Age < 30
  )
GROUP BY s.Location
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT DISTINCT s.Name AS stadium_name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT stadium_id
  FROM concert c
  WHERE c.Year = 2014
)
ORDER BY s.Name
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT stadium.Name
FROM stadium
WHERE concert_ID NOT IN (
  SELECT concert_ID
  FROM concert
  WHERE YEAR(Year) = 2014
)

Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2800

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT c.concert_Name, c.theme, COUNT(s.Singer_ID) AS num_singers
FROM concert c
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
GROUP BY c.concert_ID, c.theme
ORDER BY c.year
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT s.Name, c.Theme, COUNT(s.Singer_ID) AS num_singers
FROM concert c
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
GROUP BY s.Name, c.Theme
ORDER BY c.Year
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2941

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.Singer_ID
GROUP BY s.Name
ORDER BY s.Name
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3214

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
GROUP BY s.Name
ORDER BY s.Name
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3226

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.Singer_ID
INNER JOIN concert_singer sc ON c.concert_ID = sc.concert_ID
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2903

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.Singer_ID
INNER JOIN concert_singer sc ON c.concert_ID = sc.concert_ID
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2903

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT s.Name, s.Nationality FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE c.concert_Name = 'Hey'
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1481

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT s.Name, s.Country
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Name IN (
  SELECT name FROM singer WHERE song_name = 'Hey'
)

Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1818

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT s.Name, s.Location
FROM concert c
INNER JOIN singer_in_concert sic
ON c.concert_ID = sic.concert_ID
INNER JOIN singer s
ON sic.Singer_ID = s.Singer_ID
WHERE c.Year IN (2014, 2015)
GROUP BY s.Name, s.Location

Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1842

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT s.Name, s.Location
FROM stadium s
JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE c.Year IN (2014, 2015)
GROUP BY s.Name, s.Location

Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.

- Impact of Schema Length on Performance

In [5]:
import json
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from huggingface_hub.utils import disable_progress_bars
import re
import os

# Initial environment settings 
os.environ["TORCH_COMPILE_DISABLE"] = "1" 
os.environ["HF_HUB_DOWNLOAD_TIMEOUT"] = "900" 
disable_progress_bars()

DATA_DIR = "spider" 
MODEL_ID = "google/gemma-2b-it"
print(f"Loading tokenizer and model: {MODEL_ID}...")

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,                 
    bnb_4bit_use_double_quant=True,    
    bnb_4bit_quant_type="nf4",         
    bnb_4bit_compute_dtype=torch.bfloat16, 
)

try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_ID,
        quantization_config=bnb_config, 
        device_map="auto"               
    )
    model.eval() 
    print("Model loaded successfully.")
except Exception as e:
    print(f"Error loading model or tokenizer: {e}")
    exit()

# Load JSON, SQL files and split SQL into individual queries
def load_json_file(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def load_sql_file_as_list(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        content = f.read()
        content = re.sub(r'--.*$', '', content, flags=re.MULTILINE)
        content = re.sub(r'/\*.*?\*/', '', content, flags=re.DOTALL)
        queries = [q.strip() for q in content.split(';') if q.strip()]
        return queries

# Extract database schema for prompt creation
def get_db_schema_for_prompt(db_id, tables_data, include_pk_fk=False):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if include_pk_fk:
            if 'primary_keys' in db_found and db_found['primary_keys']:
                schema_info += "-- Primary Keys:\n"
                for pk_col_idx in db_found['primary_keys']: 
                    pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                    pk_table_name = db_found['table_names_original'][pk_table_idx] 
                    schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
            
            if 'foreign_keys' in db_found and db_found['foreign_keys']:
                schema_info += "-- Foreign Keys:\n"
                for fk_info in db_found['foreign_keys']: 
                    fk_col_idx = fk_info[0]
                    ref_col_idx = fk_info[1]
                    fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                    fk_table_name = db_found['table_names_original'][fk_table_idx] 
                    ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                    ref_table_name = db_found['table_names_original'][ref_table_idx] 
                    schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    prompt = (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        "### Database Schema:\n"
        f"{schema}\n\n"
        "### Question:\n"
        f"{question}\n\n"
        "### SQL Query:\n"
    )
    return prompt

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned_text = generated_text.replace(prompt_text, "").strip()
    cleaned_text = re.sub(r'```sql\s*', '', cleaned_text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'```\s*', '', cleaned_text, flags=re.IGNORECASE)
    if ';' in cleaned_text:
        cleaned_text = cleaned_text.split(';')[0].strip()
    return cleaned_text

# Load dataset files
try:
    train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
    train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
    all_train_data = train_spider_data + train_others_data
    print(f"Loaded {len(all_train_data)} training samples.")

    train_gold_queries_raw = load_sql_file_as_list(os.path.join(DATA_DIR, "train_gold.sql"))
    print(f"Loaded {len(train_gold_queries_raw)} gold SQL queries.")

    dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
    print(f"Loaded {len(dev_data)} dev samples.")

    tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))
    print(f"Loaded {len(tables_data)} table schemas.")

except FileNotFoundError as e:
    print(e)
    print(f"Please ensure all dataset files are in the specified DATA_DIR: '{DATA_DIR}' folder.")
    exit()

def normalize_sql(sql_query):
    sql_query = re.sub(r'\s+', ' ', sql_query).strip()
    sql_query = sql_query.upper()
    return sql_query

# Exact match comparison
def calculate_exact_match(predicted_sql, gold_sql):
    return 1 if normalize_sql(predicted_sql) == normalize_sql(gold_sql) else 0

# Jaccard similarity
def calculate_jaccard_similarity(predicted_sql, gold_sql):
    set1 = set(normalize_sql(predicted_sql).split())
    set2 = set(normalize_sql(gold_sql).split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 1.0 
    return intersection / union


# Evaluate the model
exact_matches = 0
jaccard_scores = 0.0
total_processed_samples = 0

num_samples_to_test = len(dev_data) 

for i, sample in enumerate(dev_data[:num_samples_to_test]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query'] 
    
    schema = get_db_schema_for_prompt(db_id, tables_data) 
    prompt = create_sql_generation_prompt(question, schema)
    
    generated_sql = "" 
    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(model.device) 
        with torch.no_grad(): 
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100, 
                num_beams=1,        
                do_sample=False,    
                pad_token_id=tokenizer.eos_token_id 
            )
            
        generated_text_full = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(generated_text_full, prompt)


        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js
        total_processed_samples += 1

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error processing sample {i} (Question: {question}, DB: {db_id}): {e}")
        
# Final evaluation report
print(f"\nFinal Evaluation Results:")
if total_processed_samples > 0:
    avg_em = exact_matches / total_processed_samples
    avg_js = jaccard_scores / total_processed_samples
    print(f"Average Exact Match (EM): {avg_em:.4f}")
    print(f"Average Jaccard Similarity (JS): {avg_js:.4f}")
else:
    print("No samples evaluated.")

Loading tokenizer and model: google/gemma-2b-it...

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Model loaded successfully.
Loaded 8659 training samples.
Loaded 2047 gold SQL queries.
Loaded 1034 dev samples.
Loaded 166 table schemas.

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age)
FROM singer
WHERE country = 'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6154

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age)
FROM singer
WHERE country = 'France'
GROUP BY country
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5333

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT s.Name, cr.Year
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY s.Name ASC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1515

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY sr.Song_release_year DESC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT s.Country
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE s.Age > 20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2917

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT s.Country
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE s.Age > 20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2917

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT s.Country, COUNT(s.Singer_ID) AS num_singers
FROM singer s
INNER JOIN singer_in_concert sic
ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
GROUP BY s.Country
ORDER BY num_singers DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1786

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT s.Country, COUNT(s.Singer_ID) AS num_singers
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE c.Year = 2023
GROUP BY s.Country
ORDER BY num_singers DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1613

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT s.Name AS Singer_Name, c.Song_Name AS Song_Name
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
ORDER BY s.Name
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3000

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT s.Name, GROUP_CONCAT(c.Song_Name) AS Song_Names
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
GROUP BY s.Name
ORDER BY Song_Names
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT AVG(capacity) AS average_capacity, MAX(capacity) AS maximum_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT AVG(capacity) AS avg_capacity, MAX(capacity) AS max_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
WHERE s.Average = (SELECT AVG(a.Average) FROM singer_in_concert a WHERE a.concert_ID = s.Stadium_ID)
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1250

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
ORDER BY s.Average DESC
LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(YEAR(year)) = 2014 OR YEAR(YEAR(year)) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(YEAR(concert_Year)) = 2014 OR YEAR(YEAR(concert_Year)) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT s.Name AS stadium_name, COUNT(c.concert_ID) AS num_concerts
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
GROUP BY s.Name
ORDER BY s.Name
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3704

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT COUNT(*) FROM concert WHERE Stadium_ID = [Stadium_ID]
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE YEAR(c.Year) = 2014
GROUP BY s.Name, s.Capacity
ORDER BY COUNT(*) DESC
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4242

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE c.Year >= 2013
GROUP BY s.Name, s.Capacity
ORDER BY COUNT(*) DESC
LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4571

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR(year) AS year
FROM concert
GROUP BY year
ORDER BY year DESC
LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7692

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR(c.Year) AS most_years
FROM concert c
GROUP BY c.Year
ORDER BY c.Year DESC
LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5625

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT DISTINCT s.Stadium_ID
FROM stadium s
WHERE s.concert_ID IS NULL
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT DISTINCT s.Stadium_ID
FROM stadium s
WHERE s.concert_ID IS NULL
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2500

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT s.Location
FROM singer s
JOIN concert c ON s.Singer_ID = c.singer_id
JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE s.Name = 'Artist Name'
AND s.Age > 40
AND s.Age < 30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT DISTINCT s.Name AS stadium_name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT stadium_id
  FROM concert
  WHERE year = 2014
)
ORDER BY s.Name
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2581

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT DISTINCT s.Stadium_ID
FROM stadium s
WHERE s.Year = 2014
AND s.concert_ID NOT IN (
  SELECT c.concert_ID
  FROM concert c
  WHERE c.Year = 2014
)

Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2258

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT s.Name, c.Theme
FROM concert c
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
ORDER BY c.Year
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2581

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT s.Name, c.Theme, COUNT(s.Singer_ID) AS num_singers
FROM stadium s
INNER JOIN singer_in_concert sic
ON s.Stadium_ID = sic.concert_ID
INNER JOIN singer s
ON s.Singer_ID = sic.singer_id
INNER JOIN concert c
ON c.concert_ID = sic.concert_id
GROUP BY s.Name, c.Theme
ORDER BY
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
GROUP BY s.Name
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3125

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
GROUP BY s.Name
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3125

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3333

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN concert_singer sc ON c.concert_id = sc.concert_id
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2903

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT s.Name, s.Country
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE c.song_name = 'Hey'
GROUP BY s.Name, s.Country
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1379

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT s.Name, s.Country
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE c.song_name LIKE '%Hey%'
GROUP BY s.Name, s.Country
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2143

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT s.Name, s.Location
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE c.Year IN (2014, 2015)
GROUP BY s.Name, s.Location
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2000

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT s.Name, st.Location
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE c.Year = 2014 OR c.Year = 2015
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2778

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT COUNT(*) AS num_concerts
FROM concert
WHERE stadium_id = (SELECT Stadium_ID FROM stadium WHERE Location = 'Stadium A')
ORDER BY capacity DESC
LIMIT 1
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4444

--- Sample 45 ---
Database ID: concert_singer

- Semantic Schema Prompting

In [ ]:
import json
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from huggingface_hub.utils import disable_progress_bars
import re
import os

# Initial environment settings 
os.environ["TORCH_COMPILE_DISABLE"] = "1" 
os.environ["HF_HUB_DOWNLOAD_TIMEOUT"] = "900" 
disable_progress_bars()

DATA_DIR = "spider" 
MODEL_ID = "google/gemma-2b-it"
print(f"Loading tokenizer and model: {MODEL_ID}...")

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,                 
    bnb_4bit_use_double_quant=True,    
    bnb_4bit_quant_type="nf4",         
    bnb_4bit_compute_dtype=torch.bfloat16, 
)

try:
    tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
    model = AutoModelForCausalLM.from_pretrained(
        MODEL_ID,
        quantization_config=bnb_config, 
        device_map="auto"               
    )
    model.eval() 
    print("Model loaded successfully.")
except Exception as e:
    print(f"Error loading model or tokenizer: {e}")
    exit()

# Load JSON, SQL files and split SQL into individual queries
def load_json_file(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def load_sql_file_as_list(filepath):
    if not os.path.exists(filepath):
        raise FileNotFoundError(f"File not found: {filepath}")
    with open(filepath, 'r', encoding='utf-8') as f:
        content = f.read()
        content = re.sub(r'--.*$', '', content, flags=re.MULTILINE)
        content = re.sub(r'/\*.*?\*/', '', content, flags=re.DOTALL)
        queries = [q.strip() for q in content.split(';') if q.strip()]
        return queries
    
SEMANTIC_DESCRIPTIONS = {
    "culture_company": {
        "company": {
            "id": "Unique identifier for the company",
            "name": "Full name of the company",
            "city": "City where the company is located",
            "found_year": "Year the company was founded"
        },
        "employee": {
            "employee_id": "Unique identifier for the employee",
            "name": "Full name of the employee",
            "salary": "Monthly salary of the employee",
            "department_id": "ID of the department the employee works in (Foreign Key to department table)"
        },
        "department": {
            "dept_id": "Unique identifier for the department",
            "name": "Name of the department",
            "num_employees": "Total number of employees in the department"
        }
    },
    "college_1": {
        "student": {
            "StuID": "Unique identifier for the student",
            "SName": "Full name of the student",
            "Age": "Age of the student in years",
            "Sex": "Gender of the student",
            "Major": "Major field of study for the student"
        },
        "course": {
            "CId": "Unique identifier for the course",
            "CName": "Name of the course",
            "Units": "Number of academic units for the course"
        },
        "takes": {
            "StuID": "Student ID (Foreign Key to student table)",
            "CId": "Course ID (Foreign Key to course table)",
            "Grade": "Grade received by the student in the course"
        }
    },
    "concert_singer": {
        "singer": {
            "singer_ID": "Unique identifier for the singer",
            "name": "Full name of the singer",
            "country": "Country of origin of the singer",
            "song_name": "Name of the song performed by the singer",
            "song_release_year": "Year the song was originally released"
        },
        "concert": {
            "concert_ID": "Unique identifier for the concert event",
            "concert_Name": "Official name of the concert",
            "Theme": "Concert's thematic focus",
            "Year": "Year the concert was held"
        }
    },
    "dog_kennel": {
        "Dogs": {
            "dog_id": "Unique identifier for each dog",
            "Name": "The name of the dog",
            "Breed": "The breed type of the dog",
            "Age": "The age of the dog in years"
        },
        "Treatments": {
            "treatment_id": "Unique ID for the treatment record",
            "dog_id": "ID of the dog receiving treatment (Foreign Key to Dogs table)",
            "type": "Type of treatment (e.g., vaccination, grooming)",
            "date": "Date the treatment was given"
        }
    },
    "hospital_nurse": {
        "department": {
            "id": "Unique identifier for the hospital department",
            "name": "Name of the department (e.g., Surgery, Pediatrics)",
            "num_employee": "Total count of employees in the department"
        },
        "nurse": {
            "nurse_ID": "Unique identifier for the nurse",
            "name": "Full name of the nurse",
            "age": "Age of the nurse",
            "deptid": "ID of the department the nurse is assigned to (Foreign Key to department table)"
        }
    },
}

# Extract database schema for prompt creation
def get_db_schema_for_prompt(db_id, tables_data, include_pk_fk=True, include_semantic_descriptions=True):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    
                    # Add Semantic Description
                    semantic_desc = ""
                    if include_semantic_descriptions and db_id in SEMANTIC_DESCRIPTIONS:
                        if table_name_original in SEMANTIC_DESCRIPTIONS[db_id]:
                            if col_name_original in SEMANTIC_DESCRIPTIONS[db_id][table_name_original]:
                                semantic_desc = f" ({SEMANTIC_DESCRIPTIONS[db_id][table_name_original][col_name_original]})"
                    table_cols.append(f"   {col_name_original}{semantic_desc} {col_type}")
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        # Conditionally add Primary/Foreign Key info
        if include_pk_fk: 
            if 'primary_keys' in db_found and db_found['primary_keys']:
                schema_info += "-- Primary Keys:\n"
                for pk_col_idx in db_found['primary_keys']: 
                    pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                    pk_table_name = db_found['table_names_original'][pk_table_idx] 
                    schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
            
            if 'foreign_keys' in db_found and db_found['foreign_keys']:
                schema_info += "-- Foreign Keys:\n"
                for fk_info in db_found['foreign_keys']: 
                    fk_col_idx = fk_info[0]
                    ref_col_idx = fk_info[1]
                    fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                    fk_table_name = db_found['table_names_original'][fk_table_idx] 
                    
                    ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                    ref_table_name = db_found['table_names_original'][ref_table_idx] 
                    schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template 
def create_sql_generation_prompt(question, schema):
    prompt = (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        "### Database Schema:\n"
        f"{schema}\n\n"
        "### Question:\n"
        f"{question}\n\n"
        "### SQL Query:\n"
    )
    return prompt

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned_text = generated_text.replace(prompt_text, "").strip()
    cleaned_text = re.sub(r'```sql\s*', '', cleaned_text, flags=re.IGNORECASE)
    cleaned_text = re.sub(r'```\s*', '', cleaned_text, flags=re.IGNORECASE)
    if ';' in cleaned_text:
        cleaned_text = cleaned_text.split(';')[0].strip()
    return cleaned_text

# Load dataset files
try:
    train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
    train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
    all_train_data = train_spider_data + train_others_data
    print(f"Loaded {len(all_train_data)} training samples.")

    train_gold_queries_raw = load_sql_file_as_list(os.path.join(DATA_DIR, "train_gold.sql"))
    print(f"Loaded {len(train_gold_queries_raw)} gold SQL queries.")

    dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
    print(f"Loaded {len(dev_data)} dev samples.")

    tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))
    print(f"Loaded {len(tables_data)} table schemas.")

except FileNotFoundError as e:
    print(e)
    print(f"Please ensure all dataset files are in the specified DATA_DIR: '{DATA_DIR}' folder.")
    exit()

def normalize_sql(sql_query):
    sql_query = re.sub(r'\s+', ' ', sql_query).strip()
    sql_query = sql_query.upper()
    return sql_query

# Exact match comparison
def calculate_exact_match(predicted_sql, gold_sql):
    return 1 if normalize_sql(predicted_sql) == normalize_sql(gold_sql) else 0

# Jaccard similarity
def calculate_jaccard_similarity(predicted_sql, gold_sql):
    set1 = set(normalize_sql(predicted_sql).split())
    set2 = set(normalize_sql(gold_sql).split())
    intersection = len(set1.intersection(set2))
    union = len(set1.union(set2))
    if union == 0:
        return 1.0 
    return intersection / union


# Evaluate the model
exact_matches = 0
jaccard_scores = 0.0
total_processed_samples = 0
num_samples_to_test = len(dev_data) 

INCLUDE_PK_FK = True
INCLUDE_SEMANTIC_DESCRIPTIONS = True

for i, sample in enumerate(dev_data[:num_samples_to_test]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query'] 
    
    schema = get_db_schema_for_prompt(db_id, tables_data, include_pk_fk=INCLUDE_PK_FK,
                                       include_semantic_descriptions=INCLUDE_SEMANTIC_DESCRIPTIONS) 
    prompt = create_sql_generation_prompt(question, schema)
    
    generated_sql = "" 
    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(model.device) 
        with torch.no_grad(): 
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100, 
                num_beams=1,        
                do_sample=False,    
                pad_token_id=tokenizer.eos_token_id 
            )
            
        generated_text_full = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(generated_text_full, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js
        total_processed_samples += 1

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error processing sample {i} (Question: {question}, DB: {db_id}): {e}")
        
# Final evaluation report
print(f"\nFinal Evaluation Results for Base Model (Strategy: INCLUDE_SEMANTIC_DESCRIPTIONS):")
if total_processed_samples > 0:
    avg_em = exact_matches / total_processed_samples
    avg_js = jaccard_scores / total_processed_samples
    print(f"Average Exact Match (EM): {avg_em:.4f}")
    print(f"Average Jaccard Similarity (JS): {avg_js:.4f}")
else:
    print("No samples evaluated.")

Loading tokenizer and model: google/gemma-2b-it...

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Model loaded successfully.
Loaded 8659 training samples.
Loaded 2047 gold SQL queries.
Loaded 1034 dev samples.
Loaded 166 table schemas.

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT COUNT(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT s.Name, s.Country, s.Age
FROM singer s
ORDER BY s.Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4286

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age)
FROM singer
WHERE country = 'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6154

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT AVG(age), MIN(age), MAX(age)
FROM singer
WHERE country = 'France'
GROUP BY country
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5333

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic
ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY sr.Song_release_year DESC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT s.Name, sr.Song_release_year
FROM singer s
INNER JOIN singer_in_concert sic
ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
WHERE s.Age = (SELECT MIN(Age) FROM singer)
ORDER BY sr.Song_release_year DESC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT s.Location
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
INNER JOIN singer_in_concert sic ON c.concert_id = sic.concert_id
WHERE s.Age > 20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2917

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT s.Location
FROM singer s
INNER JOIN singer_in_concert sic
ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
WHERE s.Age > 20
GROUP BY s.Location
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2692

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT s.Location, COUNT(s.Singer_ID) AS num_singers
FROM stadium s
INNER JOIN singer_in_concert sic
ON s.Stadium_ID = sic.concert_ID
INNER JOIN singer s
ON sic.Singer_ID = s.Singer_ID
GROUP BY s.Location
ORDER BY s.Location
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1923

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT s.Name, COUNT(s.Singer_ID) AS Country_Count
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE s.Country = 'Country Name'
GROUP BY s.Name
ORDER BY Country_
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1429

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT s.Name AS Singer_Name
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer)
ORDER BY s.Name
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT s.Name AS Singer_Name
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Age > (SELECT AVG(Age) FROM singer) AS Avg_Age
ORDER BY s.Name ASC
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2581

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT s.Location, s.Name
FROM stadium s
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT DISTINCT s.Location, s.Name
FROM stadium s
INNER JOIN singer_in_concert sic
ON s.Stadium_ID = sic.concert_ID
INNER JOIN singer s
ON sic.Singer_ID = s.Singer_ID
WHERE s.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT AVG(Stadium_Capacity) AS avg_capacity, MAX(Stadium_Capacity) AS max_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2727

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT AVG(capacity) AS avg_capacity, MAX(capacity) AS max_capacity
FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
ORDER BY s.Average DESC
LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
ORDER BY s.Average DESC
LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(Year) = 2014 OR YEAR(Year) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT COUNT(*) FROM concert WHERE YEAR(Year) = 2014 OR YEAR(Year) = 2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT s.Name AS Stadium_Name, COUNT(c.concert_ID) AS Number_of_Concerts
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
GROUP BY s.Name
ORDER BY Stadium_Name
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3571

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT COUNT(*) AS num_concerts
FROM concert
GROUP BY stadium_id
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3684

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE YEAR(c.Year) = 2014
GROUP BY s.Name, s.Capacity
ORDER BY COUNT(*) DESC
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4242

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT s.Name, s.Capacity
FROM stadium s
JOIN concert c ON s.Stadium_ID = c.Stadium_ID
WHERE c.Year >= 2013
GROUP BY s.Name, s.Capacity
ORDER BY COUNT(*) DESC
LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4706

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR(YEAR(c.Year)) AS Concert_Year
FROM concert c
GROUP BY YEAR(YEAR(c.Year))
ORDER BY COUNT(*) DESC
LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR(year) AS year
FROM concert
GROUP BY year
ORDER BY year DESC
LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7692

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT DISTINCT s.Stadium_ID
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT stadium_id FROM concert c
  WHERE c.Stadium_ID IS NOT NULL
)
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3500

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT c.Stadium_ID
  FROM concert c
)
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3158

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT s.Location
FROM singer s
JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE s.Name = 'Singer Name'
  AND s.Age BETWEEN 40 AND 30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2000

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT DISTINCT s.Name AS Stadium_Name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT stadium_id
  FROM concert
  WHERE year(year) = 2014
)
ORDER BY s.Name
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2581

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT DISTINCT s.Name
FROM stadium s
WHERE s.Stadium_ID NOT IN (
  SELECT c.Stadium_ID
  FROM concert c
  WHERE c.Year = 2014
)

Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2414

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT s.Name, c.Theme
FROM concert c
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
GROUP BY s.Name, c.Theme
ORDER BY s.Name
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2903

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT s.Name, c.Theme, COUNT(s.Singer_ID) AS num_singers
FROM stadium s
INNER JOIN singer_in_concert sic
ON s.Stadium_ID = sic.concert_ID
INNER JOIN singer s
ON sic.Singer_ID = s.Singer_ID
INNER JOIN concert c
ON s.Stadium_ID = c.Stadium_ID
GROUP BY s.Name, c.Theme
ORDER BY
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
GROUP BY s.Name
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3125

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT s.Name, COUNT(c.concert_ID) AS num_concerts
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
GROUP BY s.Name
ORDER BY num_concerts DESC
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3125

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN concert c ON s.Singer_ID = c.singer_id
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3333

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT s.Name
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
WHERE c.Year = 2014
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3333

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT s.Name, s.Country
FROM singer s
INNER JOIN singer_in_concert sic
ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c
ON sic.concert_ID = c.concert_ID
WHERE c.song_name = 'Hey'
GROUP BY s.Name, s.Country
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1379

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT s.Name, s.Country
FROM singer s
INNER JOIN singer_in_concert sic ON s.Singer_ID = sic.Singer_ID
INNER JOIN concert c ON sic.concert_ID = c.concert_ID
INNER JOIN stadium s ON c.Stadium_ID = s.Stadium_ID
WHERE c.Song_Name LIKE '%Hey%'
GROUP BY s.Name, s.Country
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1935

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT s.Name, s.Location
FROM stadium s
INNER JOIN concert c ON s.Stadium_ID = c.Stadium_ID
INNER JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
INNER JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE c.Year IN (2014, 2015)
GROUP BY s.Name, s.Location
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2000

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT s.Name, s.Location
FROM stadium s
JOIN concert c ON s.Stadium_ID = c.Stadium_ID
JOIN singer_in_concert sic ON c.concert_ID = sic.concert_ID
JOIN singer s ON sic.Singer_ID = s.Singer_ID
WHERE c.Year = 2014 OR c.Year = 2015
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2857

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT COUNT(*) AS num_concerts
FROM concert
WHERE stadium.Capacity = (SELECT MAX(Capacity) FROM stadium)