## **Problem 8: SQL**

# Part 2.

- Fine-tuning

In [1]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from transformers import Trainer, TrainingArguments, DataCollatorForLanguageModeling
from peft import prepare_model_for_kbit_training, LoraConfig, get_peft_model
from datasets import Dataset
from peft import PeftModel
import json
import os
import re

MODEL_ID = "google/gemma-2b-it"
DATA_DIR = "spider"
OUTPUT_DIR = "qlora_output"

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_compute_dtype=torch.bfloat16,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
)

tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
model = AutoModelForCausalLM.from_pretrained(
    MODEL_ID,
    quantization_config=bnb_config,
    device_map="auto"
)

model.gradient_checkpointing_enable()
model = prepare_model_for_kbit_training(model)
# Define LoRA configuration
lora_config = LoraConfig(
    r=8,
    lora_alpha=32,
    target_modules=["q_proj", "v_proj", "k_proj", "o_proj", "gate_proj", "up_proj", "down_proj"], 
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM"
)
model = get_peft_model(model, lora_config)
model.print_trainable_parameters()

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db = next((db for db in tables_data if db['db_id'] == db_id), None)
    if not db:
        return ""

    schema_info += f"CREATE DATABASE {db_id};\n"
    for t_idx, t_name in enumerate(db['table_names_original']):
        schema_info += f"CREATE TABLE {t_name} (\n"
        columns = [
            f"   {col_name} TEXT"
            for col_idx, (tbl_idx, col_name) in enumerate(db['column_names_original'])
            if tbl_idx == t_idx
        ]
        schema_info += ",\n".join(columns) + "\n);\n"
    return schema_info

# Prompt template
def create_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        "### SQL Query:\n"
    )

# Load Spider training files and schema definitions
train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
all_train_data_raw = train_spider_data + train_others_data 
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

train_samples = []
for sample in all_train_data_raw: 
    schema = get_db_schema_for_prompt(sample['db_id'], tables_data)
    prompt = create_prompt(sample['question'], schema)
    target = sample['query']
    full_text = prompt + target 
    train_samples.append({"text": full_text})

hf_dataset = Dataset.from_list(train_samples)

# Randomly select a subset of data for faster fine-tuning
SUBSET_RATIO = 0.3 
train_subset_size = int(SUBSET_RATIO * len(hf_dataset))
train_dataset_subset = hf_dataset.shuffle(seed=42).select(range(train_subset_size))

print(f"\n[INFO] Using {len(train_dataset_subset)} samples ({SUBSET_RATIO*100:.0f}%) of the dataset for fine-tuning.")
print(f"Sample formatted text for fine-tuning:\n{train_dataset_subset[0]['text'][:500]}...")


def tokenize(example):
    return tokenizer(example["text"], truncation=True, padding="max_length", max_length=256) 

tokenized_dataset = train_dataset_subset.map(tokenize, batched=True, remove_columns=["text"])

# Data collator for causal language modeling
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer,
    mlm=False
)

# Define training configuration
training_args = TrainingArguments(
    output_dir=OUTPUT_DIR,
    num_train_epochs=3,
    per_device_train_batch_size=2,
    gradient_accumulation_steps=8,
    warmup_steps=100,
    learning_rate=2e-4, 
    logging_dir="./logs",
    logging_steps=10,
    save_steps=500,
    fp16=False, 
    bf16=True, 
    save_total_limit=2,
    report_to="none", 
    seed=42, 
    dataloader_num_workers=os.cpu_count() // 2,)

# training phase
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset,
    tokenizer=tokenizer,
    data_collator=data_collator
)
trainer.train()

trainer.save_model("fine_tuned_gemma_spider_lora")
tokenizer.save_pretrained("fine_tuned_gemma_spider_lora")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

trainable params: 9,805,824 || all params: 2,515,978,240 || trainable%: 0.3897420034920493

[INFO] Using 2597 samples (30%) of the dataset for fine-tuning.
Sample formatted text for fine-tuning:
You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.

### Database Schema:
CREATE DATABASE store_1;
CREATE TABLE artists (
   id TEXT,
   name TEXT
);
CREATE TABLE sqlite_sequence (
   name TEXT,
   seq TEXT
);
CREATE TABLE albums (
   id TEXT,
   title TEXT,
   artist_id TEXT
);
CREATE TABLE employees (
   id TEXT,
   last_name TEXT,
   first_name TEXT,
   title TEXT,
   reports_to TEXT,
   birth_date TEXT,
   hire_date TE...

Map:   0%|          | 0/2597 [00:00<?, ? examples/s]

C:\Users\Asus\AppData\Local\Temp\ipykernel_14480\1918066306.py:129: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(
No label_names provided for model class `PeftModelForCausalLM`. Since `PeftModel` hides base models input arguments, if label_names is not given, label_names can't be set automatically within `Trainer`. Note that empty label_names list will be used instead.
`use_cache=True` is incompatible with gradient checkpointing. Setting `use_cache=False`.

('fine_tuned_gemma_spider_lora\\tokenizer_config.json',
 'fine_tuned_gemma_spider_lora\\special_tokens_map.json',
 'fine_tuned_gemma_spider_lora\\chat_template.jinja',
 'fine_tuned_gemma_spider_lora\\tokenizer.model',
 'fine_tuned_gemma_spider_lora\\added_tokens.json',
 'fine_tuned_gemma_spider_lora\\tokenizer.json')

In [3]:
OFFLOAD_DIR = "./offload"
os.makedirs(OFFLOAD_DIR, exist_ok=True)
DATA_DIR = "spider"
MODEL_DIR = "qlora_output/checkpoint-489"

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

tokenizer = AutoTokenizer.from_pretrained("google/gemma-2b-it")
base_model = AutoModelForCausalLM.from_pretrained(
    "google/gemma-2b-it",
    device_map="auto",
    torch_dtype=torch.bfloat16
)

# Load LoRA adapter weights
model = PeftModel.from_pretrained(
    base_model,
    MODEL_DIR,
    offload_dir=OFFLOAD_DIR  
)
model.eval()
model = model.to(device)  

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

# Extract database schema 
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        f"### SQL Query:\n"
    )

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned = generated_text.replace(prompt_text, "").strip()
    cleaned = re.sub(r'```sql\s*', '', cleaned, flags=re.IGNORECASE)
    cleaned = re.sub(r'```\s*', '', cleaned, flags=re.IGNORECASE)
    return cleaned.split(';')[0].strip()

def normalize_sql(sql):
    return re.sub(r'\s+', ' ', sql).strip().upper()

# Exact match comparison
def calculate_exact_match(pred, gold):
    return 1 if normalize_sql(pred) == normalize_sql(gold) else 0

# Jaccard similarity
def calculate_jaccard_similarity(pred, gold):
    s1, s2 = set(normalize_sql(pred).split()), set(normalize_sql(gold).split())
    return len(s1 & s2) / len(s1 | s2) if s1 | s2 else 1.0

# Load evaluation data
dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

# Evaluate the model
exact_matches = 0
jaccard_scores = 0
n_samples = len(dev_data) 

for i, sample in enumerate(dev_data[:n_samples]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query']
    schema = get_db_schema_for_prompt(db_id, tables_data)
    prompt = create_sql_generation_prompt(question, schema)

    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(device)
        with torch.no_grad():
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100,
                num_beams=1,
                do_sample=False,
                pad_token_id=tokenizer.eos_token_id
            )
        gen_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(gen_text, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error on sample {i}: {e}")

# Final evaluation report
print("\nEvaluation Results (Fine-tuned Model):")
print(f"Samples evaluated: {n_samples}")
print(f"Average Exact Match (EM): {exact_matches / n_samples:.4f}")
print(f"Average Jaccard Similarity (JS): {jaccard_scores / n_samples:.4f}")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France' GROUP BY country ORDER BY age ASC
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6875

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT T1.Name ,  T1.Song_release_year FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  =  (SELECT min(Age) FROM singer) GROUP BY T1.Name ORDER BY T1.Age ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT T1.Name ,  T1.release_year FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.age  =  (SELECT min(age) FROM singer) GROUP BY T1.name ORDER BY T1.name ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T1.Age  >  20 AND T1.is_male  =  'T' GROUP BY T1.Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2059

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT Country FROM singer WHERE Age  >  20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT country ,  count(*) FROM singer GROUP BY country ORDER BY count(*) DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT count(*) ,  country FROM singer GROUP BY country ORDER BY count(*) DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT Song_Name FROM singer WHERE Age  >  (SELECT avg(Age) FROM singer) FROM singer
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 1.0000

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer) FROM singer
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 1.0000

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT Location ,  Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT Location ,  Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id ORDER BY count(*) DESC
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8947

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT count(*) FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium) GROUP BY Stadium_ID
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2727

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT name ,  capacity FROM stadium WHERE YEAR  >=  2014 GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4828

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT name ,  capacity FROM stadium WHERE YEAR  >  2013 GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3871

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert) ORDER BY name
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8333

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

### Output:
| name |
|---|---|
| Wembley Stadium |
| Wembley Stadium II |
| Tottenham Hotspur Stadium |
| Tottenham Hotspur Stadium White Hart |
| Molineux Stadium |
| Craven Cottage Stadium |
| St. James' Park |
| Goodison Park |
| Anfield Road |
| Pittodrie Stadium |
| Tynecastle Stadium |
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3226

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT Country FROM singer WHERE Age  >  40 INTERSECT SELECT Country FROM singer WHERE Age  <  30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T1.name FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T2.year  =  2014
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert WHERE YEAR  =  2014)

-- Output:
-- name
-- -----
-- Stadium 1
-- Stadium 2
-- Stadium 3
-- Stadium 4
-- Stadium 5
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2188

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT T1.Name ,  T2.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT T1.Name ,  T1.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT name ,  count(*) FROM singer GROUP BY name ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT name ,  count(*) FROM singer GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT Name FROM singer WHERE Age  =  "20" AND Is_male  =  "Y" AND song_release_year  =  2014 GROUP BY name ORDER BY sum(song_release_year) DESC LIMIT 10
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1765

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT T1.Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Year  =  2014 GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6207

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT name ,  country FROM singer WHERE name LIKE '%Hey%' AND song_name  =  'Hey'
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7692

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT name ,  country FROM singer WHERE name LIKE '%Hey%' AND song_name LIKE '%Hey%' AND song_release_year  <=  2000 OR song_name LIKE '%Hey%' AND song_release_year  >=  2005
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5882

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT name ,  LOCATION FROM stadium WHERE Stadium_ID IN (SELECT Stadium_ID FROM concert WHERE YEAR  =  2014) INTERSECT SELECT Stadium_ID FROM stadium WHERE Stadium_ID IN (SELECT Stadium_ID FROM concert WHERE YEAR  =  2015) INTERSECT SELECT Stadium_ID FROM concert WHERE YEAR  =  2014 INTERSECT SELECT Stadium_ID FROM concert WHERE YEAR  =  2015
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3571

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT name ,  LOCATION FROM stadium WHERE stadium_id IN (SELECT stadium_id FROM concert WHERE YEAR  =  2014) INTERSECT SELECT stadium_id FROM stadium WHERE stadium_id IN (SELECT stadium_id FROM concert WHERE YEAR  =  2015) INTERSECT SELECT stadium_id FROM concert WHERE YEAR  =  2014 AND MONTH  =  1 OR YEAR  =  2015 AND MONTH  =  12
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3030

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id = (SELECT max(id) FROM stadium) GROUP BY stadium_id
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2400

--- Sample 45 ---
Database ID: concert_singer
Question: What are the number of concerts that occurred in the stadium with the largest capacity?
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN (SELECT Stadium_ID FROM stadium ORDER BY Capacity DESC LIMIT 1) GROUP BY concert_id ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3704

--- Sample 46 ---
Database ID: pets_1
Question: Find the number of pets whose weight is heavier than 10.
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 47 ---
Database ID: pets_1
Question: How many pets have a greater weight than 10?
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 48 ---
Database ID: pets_1
Question: Find the weight of the youngest dog.
Generated SQL: SELECT weight FROM Pets WHERE sex  =  'Male' AND age  =  (SELECT min(age) FROM Student) ORDER BY weight ASC LIMIT 1
Gold SQL: SELECT weight FROM pets ORDER BY pet_age LIMIT 1

- Warmup step = 50

In [1]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from transformers import Trainer, TrainingArguments, DataCollatorForLanguageModeling
from peft import prepare_model_for_kbit_training, LoraConfig, get_peft_model
from datasets import Dataset
from peft import PeftModel
import json
import os
import re

MODEL_ID = "google/gemma-2b-it"
DATA_DIR = "spider"
OUTPUT_DIR = "qlora_output"

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_compute_dtype=torch.bfloat16,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
)

tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
model = AutoModelForCausalLM.from_pretrained(
    MODEL_ID,
    quantization_config=bnb_config,
    device_map="auto"
)

model.gradient_checkpointing_enable()
model = prepare_model_for_kbit_training(model)
# Define LoRA configuration
lora_config = LoraConfig(
    r=8,
    lora_alpha=32,
    target_modules=["q_proj", "v_proj", "k_proj", "o_proj", "gate_proj", "up_proj", "down_proj"], 
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM"
)
model = get_peft_model(model, lora_config)
model.print_trainable_parameters()

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db = next((db for db in tables_data if db['db_id'] == db_id), None)
    if not db:
        return ""

    schema_info += f"CREATE DATABASE {db_id};\n"
    for t_idx, t_name in enumerate(db['table_names_original']):
        schema_info += f"CREATE TABLE {t_name} (\n"
        columns = [
            f"   {col_name} TEXT"
            for col_idx, (tbl_idx, col_name) in enumerate(db['column_names_original'])
            if tbl_idx == t_idx
        ]
        schema_info += ",\n".join(columns) + "\n);\n"
    return schema_info

# Prompt template
def create_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        "### SQL Query:\n"
    )

# Load Spider training files and schema definitions
train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
all_train_data_raw = train_spider_data + train_others_data 
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

train_samples = []
for sample in all_train_data_raw: 
    schema = get_db_schema_for_prompt(sample['db_id'], tables_data)
    prompt = create_prompt(sample['question'], schema)
    target = sample['query']
    full_text = prompt + target 
    train_samples.append({"text": full_text})

hf_dataset = Dataset.from_list(train_samples)

# Randomly select a subset of data for faster fine-tuning
SUBSET_RATIO = 0.3 
train_subset_size = int(SUBSET_RATIO * len(hf_dataset))
train_dataset_subset = hf_dataset.shuffle(seed=42).select(range(train_subset_size))

print(f"\n[INFO] Using {len(train_dataset_subset)} samples ({SUBSET_RATIO*100:.0f}%) of the dataset for fine-tuning.")
print(f"Sample formatted text for fine-tuning:\n{train_dataset_subset[0]['text'][:500]}...")


def tokenize(example):
    return tokenizer(example["text"], truncation=True, padding="max_length", max_length=256) 

tokenized_dataset = train_dataset_subset.map(tokenize, batched=True, remove_columns=["text"])

# Data collator for causal language modeling
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer,
    mlm=False
)

# Define training configuration
training_args = TrainingArguments(
    output_dir=OUTPUT_DIR,
    num_train_epochs=3,
    per_device_train_batch_size=2,
    gradient_accumulation_steps=8,
    warmup_steps=50,
    learning_rate=2e-4, 
    logging_dir="./logs",
    logging_steps=10,
    save_steps=500,
    fp16=False, 
    bf16=True, 
    save_total_limit=2,
    report_to="none", 
    seed=42, 
    dataloader_num_workers=os.cpu_count() // 2,)

# training phase
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset,
    tokenizer=tokenizer,
    data_collator=data_collator
)
trainer.train()

trainer.save_model("fine_tuned_gemma_spider_lora")
tokenizer.save_pretrained("fine_tuned_gemma_spider_lora")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

trainable params: 9,805,824 || all params: 2,515,978,240 || trainable%: 0.3897420034920493

[INFO] Using 2597 samples (30%) of the dataset for fine-tuning.
Sample formatted text for fine-tuning:
You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.

### Database Schema:
CREATE DATABASE store_1;
CREATE TABLE artists (
   id TEXT,
   name TEXT
);
CREATE TABLE sqlite_sequence (
   name TEXT,
   seq TEXT
);
CREATE TABLE albums (
   id TEXT,
   title TEXT,
   artist_id TEXT
);
CREATE TABLE employees (
   id TEXT,
   last_name TEXT,
   first_name TEXT,
   title TEXT,
   reports_to TEXT,
   birth_date TEXT,
   hire_date TE...

Map:   0%|          | 0/2597 [00:00<?, ? examples/s]

C:\Users\Asus\AppData\Local\Temp\ipykernel_1688\2764946941.py:129: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(
No label_names provided for model class `PeftModelForCausalLM`. Since `PeftModel` hides base models input arguments, if label_names is not given, label_names can't be set automatically within `Trainer`. Note that empty label_names list will be used instead.
`use_cache=True` is incompatible with gradient checkpointing. Setting `use_cache=False`.

('fine_tuned_gemma_spider_lora\\tokenizer_config.json',
 'fine_tuned_gemma_spider_lora\\special_tokens_map.json',
 'fine_tuned_gemma_spider_lora\\chat_template.jinja',
 'fine_tuned_gemma_spider_lora\\tokenizer.model',
 'fine_tuned_gemma_spider_lora\\added_tokens.json',
 'fine_tuned_gemma_spider_lora\\tokenizer.json')

In [2]:
OFFLOAD_DIR = "./offload"
os.makedirs(OFFLOAD_DIR, exist_ok=True)
DATA_DIR = "spider"
MODEL_DIR = "qlora_output/checkpoint-489"

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

tokenizer = AutoTokenizer.from_pretrained("google/gemma-2b-it")
base_model = AutoModelForCausalLM.from_pretrained(
    "google/gemma-2b-it",
    device_map="auto",
    torch_dtype=torch.bfloat16
)

# Load LoRA adapter weights
model = PeftModel.from_pretrained(
    base_model,
    MODEL_DIR,
    offload_dir=OFFLOAD_DIR  
)
model.eval()
model = model.to(device)  

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

# Extract database schema 
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        f"### SQL Query:\n"
    )

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned = generated_text.replace(prompt_text, "").strip()
    cleaned = re.sub(r'```sql\s*', '', cleaned, flags=re.IGNORECASE)
    cleaned = re.sub(r'```\s*', '', cleaned, flags=re.IGNORECASE)
    return cleaned.split(';')[0].strip()

def normalize_sql(sql):
    return re.sub(r'\s+', ' ', sql).strip().upper()

# Exact match comparison
def calculate_exact_match(pred, gold):
    return 1 if normalize_sql(pred) == normalize_sql(gold) else 0

# Jaccard similarity
def calculate_jaccard_similarity(pred, gold):
    s1, s2 = set(normalize_sql(pred).split()), set(normalize_sql(gold).split())
    return len(s1 & s2) / len(s1 | s2) if s1 | s2 else 1.0

# Load evaluation data
dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

# Evaluate the model
exact_matches = 0
jaccard_scores = 0
n_samples = len(dev_data) 

for i, sample in enumerate(dev_data[:n_samples]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query']
    schema = get_db_schema_for_prompt(db_id, tables_data)
    prompt = create_sql_generation_prompt(question, schema)

    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(device)
        with torch.no_grad():
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100,
                num_beams=1,
                do_sample=False,
                pad_token_id=tokenizer.eos_token_id
            )
        gen_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(gen_text, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error on sample {i}: {e}")

# Final evaluation report
print("\nEvaluation Results (Fine-tuned Model):")
print(f"Samples evaluated: {n_samples}")
print(f"Average Exact Match (EM): {exact_matches / n_samples:.4f}")
print(f"Average Jaccard Similarity (JS): {jaccard_scores / n_samples:.4f}")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Some parameters are on the meta device because they were offloaded to the cpu.

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  "France" GROUP BY country ORDER BY age
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6250

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT T2.Name ,  T1.Song_release_year FROM singer AS T1 JOIN song_name AS T2 ON T1.Name  =  T2.Name ORDER BY age LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5000

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT T2.Song_Name ,  T1.Song_release_year FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  =  (SELECT min(Age) FROM singer) GROUP BY T1.Singer_ID ORDER BY T1.Song_release_year ASC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2069

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.age  >  20 GROUP BY T1.Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2593

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.age  >  20 GROUP BY T1.Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2593

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT country ,  count(*) FROM singer GROUP BY country ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT count(*) ,  country FROM singer GROUP BY country ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT Song_Name FROM singer WHERE Age  >  (SELECT avg(age) FROM singer) ORDER BY song_name
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8333

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT T2.Song_Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  >  (SELECT avg(age) FROM singer) GROUP BY T1.Name ORDER BY sum(T1.age) DESC LIMIT 1
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT location ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT location ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR(YEAR)  =  2014 OR YEAR(YEAR)  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8182

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT T1.Name ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5200

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN (SELECT stadium_id FROM stadium) GROUP BY stadium_id
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2727

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT T1.name ,  T1.capacity FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE YEAR(T2.year)  =  2014 GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7586

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT t1.name ,  t1.capacity FROM stadium AS t1 JOIN concert AS t2 ON t1.stadium_id  =  t2.stadium_id WHERE t2.year  >  2013 GROUP BY t1.name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6774

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

-- Output:
-- (Empty Set)
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7143

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

### Output:
The names of the stadiums without any concerts are:

- Wembley Stadium
- Wembley Stadium
- Stade de France
- Estadio Nacional
- Olympiastadion
- Estadio Municipal de Santiago Bernabu
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3226

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT Country FROM singer WHERE Age  >  40 INTERSECT SELECT Country FROM singer WHERE Age  <  30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T1.name FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T2.year  =  2014
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert WHERE YEAR  =  2014)

-- Output:
-- (null)
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2593

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT T1.Name ,  T2.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ,  T2.Theme ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT T1.Name ,  T2.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ,  T2.Theme ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT T1.Name ,  count(*) FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7273

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT count(*) ,  T1.name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T1.name ORDER BY count(*) DESC, T1.name
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT T2.Name FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID WHERE T1.Year  =  2014 GROUP BY T2.Name ORDER BY T2.Name
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5600

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT T2.Name FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID WHERE T1.Year  =  2014 GROUP BY T2.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4828

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT T2.Name ,  T2.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T1.Name LIKE '%Hey%' AND T1.Song_Name LIKE '%.%Hey%' GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1944

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT T2.Name ,  T2.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.song_name LIKE '%Hey%' AND T1.Name  =  "Hey" GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1944

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE YEAR(T2.year)  =  2014 OR YEAR(T2.year)  =  2015 GROUP BY T1.name ,  T1.location HAVING COUNT(*)  =  2
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5517

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE YEAR(T2.year)  =  2014 INTERSECT SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE YEAR(T2.year)
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6957

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN ( SELECT stadium_id FROM stadium ORDER BY capacity DESC LIMIT 1 )
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4000

--- Sample 45 ---
Database ID: concert_singer
Question: What are the number of concerts that occurred in the stadium with the largest capacity?
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN ( SELECT stadium_id FROM stadium ORDER BY capacity DESC LIMIT 1 )
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4000

--- Sample 46 ---
Database ID: pets_1
Question: Find the number of pets whose weight is heavier than 10.
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 47 ---
Database ID: pets_1
Question: How many pets have a greater weight than 10?
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000


- Warmup step = 75

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from transformers import Trainer, TrainingArguments, DataCollatorForLanguageModeling
from peft import prepare_model_for_kbit_training, LoraConfig, get_peft_model
from datasets import Dataset
from peft import PeftModel
import json
import os
import re

MODEL_ID = "google/gemma-2b-it"
DATA_DIR = "spider"
OUTPUT_DIR = "qlora_output"

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_compute_dtype=torch.bfloat16,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
)

tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
model = AutoModelForCausalLM.from_pretrained(
    MODEL_ID,
    quantization_config=bnb_config,
    device_map="auto"
)

model.gradient_checkpointing_enable()
model = prepare_model_for_kbit_training(model)
# Define LoRA configuration
lora_config = LoraConfig(
    r=8,
    lora_alpha=32,
    target_modules=["q_proj", "v_proj", "k_proj", "o_proj", "gate_proj", "up_proj", "down_proj"], 
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM"
)
model = get_peft_model(model, lora_config)
model.print_trainable_parameters()

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db = next((db for db in tables_data if db['db_id'] == db_id), None)
    if not db:
        return ""

    schema_info += f"CREATE DATABASE {db_id};\n"
    for t_idx, t_name in enumerate(db['table_names_original']):
        schema_info += f"CREATE TABLE {t_name} (\n"
        columns = [
            f"   {col_name} TEXT"
            for col_idx, (tbl_idx, col_name) in enumerate(db['column_names_original'])
            if tbl_idx == t_idx
        ]
        schema_info += ",\n".join(columns) + "\n);\n"
    return schema_info

# Prompt template
def create_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        "### SQL Query:\n"
    )

# Load Spider training files and schema definitions
train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
all_train_data_raw = train_spider_data + train_others_data 
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

train_samples = []
for sample in all_train_data_raw: 
    schema = get_db_schema_for_prompt(sample['db_id'], tables_data)
    prompt = create_prompt(sample['question'], schema)
    target = sample['query']
    full_text = prompt + target 
    train_samples.append({"text": full_text})

hf_dataset = Dataset.from_list(train_samples)

# Randomly select a subset of data for faster fine-tuning
SUBSET_RATIO = 0.3 
train_subset_size = int(SUBSET_RATIO * len(hf_dataset))
train_dataset_subset = hf_dataset.shuffle(seed=42).select(range(train_subset_size))

print(f"\n[INFO] Using {len(train_dataset_subset)} samples ({SUBSET_RATIO*100:.0f}%) of the dataset for fine-tuning.")
print(f"Sample formatted text for fine-tuning:\n{train_dataset_subset[0]['text'][:500]}...")


def tokenize(example):
    return tokenizer(example["text"], truncation=True, padding="max_length", max_length=256) 

tokenized_dataset = train_dataset_subset.map(tokenize, batched=True, remove_columns=["text"])

# Data collator for causal language modeling
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer,
    mlm=False
)

# Define training configuration
training_args = TrainingArguments(
    output_dir=OUTPUT_DIR,
    num_train_epochs=3,
    per_device_train_batch_size=2,
    gradient_accumulation_steps=8,
    warmup_steps=75,
    learning_rate=2e-4, 
    logging_dir="./logs",
    logging_steps=10,
    save_steps=500,
    fp16=False, 
    bf16=True, 
    save_total_limit=2,
    report_to="none", 
    seed=42, 
    dataloader_num_workers=os.cpu_count() // 2,)

# training phase
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset,
    tokenizer=tokenizer,
    data_collator=data_collator
)
trainer.train()

trainer.save_model("fine_tuned_gemma_spider_lora")
tokenizer.save_pretrained("fine_tuned_gemma_spider_lora")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

trainable params: 9,805,824 || all params: 2,515,978,240 || trainable%: 0.3897420034920493

[INFO] Using 2597 samples (30%) of the dataset for fine-tuning.
Sample formatted text for fine-tuning:
You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.

### Database Schema:
CREATE DATABASE store_1;
CREATE TABLE artists (
   id TEXT,
   name TEXT
);
CREATE TABLE sqlite_sequence (
   name TEXT,
   seq TEXT
);
CREATE TABLE albums (
   id TEXT,
   title TEXT,
   artist_id TEXT
);
CREATE TABLE employees (
   id TEXT,
   last_name TEXT,
   first_name TEXT,
   title TEXT,
   reports_to TEXT,
   birth_date TEXT,
   hire_date TE...

Map:   0%|          | 0/2597 [00:00<?, ? examples/s]

C:\Users\Asus\AppData\Local\Temp\ipykernel_5444\3238545401.py:129: FutureWarning: `tokenizer` is deprecated and will be removed in version 5.0.0 for `Trainer.__init__`. Use `processing_class` instead.
  trainer = Trainer(
No label_names provided for model class `PeftModelForCausalLM`. Since `PeftModel` hides base models input arguments, if label_names is not given, label_names can't be set automatically within `Trainer`. Note that empty label_names list will be used instead.
`use_cache=True` is incompatible with gradient checkpointing. Setting `use_cache=False`.

('fine_tuned_gemma_spider_lora\\tokenizer_config.json',
 'fine_tuned_gemma_spider_lora\\special_tokens_map.json',
 'fine_tuned_gemma_spider_lora\\chat_template.jinja',
 'fine_tuned_gemma_spider_lora\\tokenizer.model',
 'fine_tuned_gemma_spider_lora\\added_tokens.json',
 'fine_tuned_gemma_spider_lora\\tokenizer.json')

In [3]:
OFFLOAD_DIR = "./offload"
os.makedirs(OFFLOAD_DIR, exist_ok=True)
DATA_DIR = "spider"
MODEL_DIR = "qlora_output/checkpoint-489"

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

tokenizer = AutoTokenizer.from_pretrained("google/gemma-2b-it")
base_model = AutoModelForCausalLM.from_pretrained(
    "google/gemma-2b-it",
    device_map="auto",
    torch_dtype=torch.bfloat16
)

# Load LoRA adapter weights
model = PeftModel.from_pretrained(
    base_model,
    MODEL_DIR,
    offload_dir=OFFLOAD_DIR  
)
model.eval()
model = model.to(device)  

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

# Extract database schema 
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        f"### SQL Query:\n"
    )

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned = generated_text.replace(prompt_text, "").strip()
    cleaned = re.sub(r'```sql\s*', '', cleaned, flags=re.IGNORECASE)
    cleaned = re.sub(r'```\s*', '', cleaned, flags=re.IGNORECASE)
    return cleaned.split(';')[0].strip()

def normalize_sql(sql):
    return re.sub(r'\s+', ' ', sql).strip().upper()

# Exact match comparison
def calculate_exact_match(pred, gold):
    return 1 if normalize_sql(pred) == normalize_sql(gold) else 0

# Jaccard similarity
def calculate_jaccard_similarity(pred, gold):
    s1, s2 = set(normalize_sql(pred).split()), set(normalize_sql(gold).split())
    return len(s1 & s2) / len(s1 | s2) if s1 | s2 else 1.0

# Load evaluation data
dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

# Evaluate the model
exact_matches = 0
jaccard_scores = 0
n_samples = len(dev_data) 

for i, sample in enumerate(dev_data[:n_samples]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query']
    schema = get_db_schema_for_prompt(db_id, tables_data)
    prompt = create_sql_generation_prompt(question, schema)

    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(device)
        with torch.no_grad():
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100,
                num_beams=1,
                do_sample=False,
                pad_token_id=tokenizer.eos_token_id
            )
        gen_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(gen_text, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error on sample {i}: {e}")

# Final evaluation report
print("\nEvaluation Results (Fine-tuned Model):")
print(f"Samples evaluated: {n_samples}")
print(f"Average Exact Match (EM): {exact_matches / n_samples:.4f}")
print(f"Average Jaccard Similarity (JS): {jaccard_scores / n_samples:.4f}")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC LIMIT 1
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8333

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  "France"
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8333

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE Country  =  "France" AND is_male  =  "T" GROUP BY Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4545

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT T2.Name ,  T1.Song_release_year FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  =  (SELECT min(Age) FROM singer) GROUP BY T1.Name ORDER BY T1.Song_release_year ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2667

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT T2.Name ,  T2.Song_release_year FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  =  (SELECT min(Age) FROM singer) GROUP BY T1.Name ORDER BY T2.Song_release_year ASC
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2000

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  >  20 GROUP BY T1.Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2593

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT Country FROM singer WHERE Age  >  20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT country ,  count(*) FROM singer GROUP BY country ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT count(*) ,  country FROM singer GROUP BY country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT Song_Name FROM singer WHERE Age  >  (SELECT avg(age) FROM singer) ORDER BY Age ASC
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7692

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer) ORDER BY song_name
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8333

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT location ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT location ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT T1.name ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T1.name ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5200

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT count(*) FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium) GROUP BY Stadium_ID ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2308

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT T1.name ,  T1.capacity FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE YEAR(T2.year)  =  2014 GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7586

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT name ,  capacity FROM stadium WHERE YEAR  >  2013 GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3871

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR(YEAR) FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.9167

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT DISTINCT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert) ORDER BY name ASC
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7143

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert) ORDER BY name ASC
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7692

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT Country FROM singer WHERE Age  >  40 INTERSECT SELECT Country FROM singer WHERE Age  <  30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id WHERE T1.year  !=  2014 GROUP BY T2.name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5517

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id WHERE T1.year  =  2014 THEN T2.name
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7273

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT T1.name ,  T2.theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T1.name ,  T2.theme ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT T1.Name ,  T1.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID JOIN singer AS T3 ON T2.Singer_ID  =  T3.Singer_ID GROUP BY T1.Name ,  T1.Theme ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5714

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT name ,  count(*) FROM singer GROUP BY name ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT name ,  count(*) FROM singer GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT name FROM singer WHERE age  =  "20" AND year  =  2014 GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1875

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT T1.Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Year  =  2014 GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6207

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT T2.Name ,  T2.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T1.Name LIKE '%Hey%' AND T3.Year  >=  2000
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2333

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT T2.Name ,  T2.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.song_name  =  'Hey' AND T1.Name NOT LIKE 'Hey%' GROUP BY T1.Name ,  T2.Country ORDER BY count
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1714

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id WHERE YEAR(T1.year)  =  2014 OR YEAR(T1.year)  =  2015 GROUP BY T1.year HAVING COUNT(*)  >=  2
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5161

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE YEAR(T2.year)  =  2014 OR YEAR(T2.year)  =  2015 GROUP BY T1.name ,  T1.location HAVING COUNT(*)  =  2
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5517

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN (SELECT stadium_id FROM stadium ORDER BY capacity DESC LIMIT 1)
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3600

--- Sample 45 ---
Database ID: concert_singer
Question: What are the number of concerts that occurred in the stadium with the largest capacity?
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN ( SELECT stadium_id FROM stadium ORDER BY capacity DESC LIMIT 1 )
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4000

--- Sample 46 ---
Database ID: pets_1
Question: Find the number of pets whose weight is heavier than 10.
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 47 ---
Database ID: pets_1
Question: How many pets have a greater weight than 10?
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 48 ---
Database ID: pets_1
Question: Find the weight of the youngest dog.
Generated SQL: SELECT weight FROM Pets WHERE pet_age  =  (SELECT min(pet_age) FROM Pets) ORDER BY weight ASC LIMIT 1
Gold SQL: SELECT weight FROM pets ORDER BY pet_age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6000

--- Sample 49 ---
Database ID: pets_1
Question: How much does the youngest dog weigh?

- Temperature = 0.5

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from transformers import Trainer, TrainingArguments, DataCollatorForLanguageModeling
from peft import prepare_model_for_kbit_training, LoraConfig, get_peft_model
from datasets import Dataset
from peft import PeftModel
import json
import os
import re

MODEL_ID = "google/gemma-2b-it"
DATA_DIR = "spider"
OUTPUT_DIR = "qlora_output"

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_compute_dtype=torch.bfloat16,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
)

tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
model = AutoModelForCausalLM.from_pretrained(
    MODEL_ID,
    quantization_config=bnb_config,
    device_map="auto"
)

model.gradient_checkpointing_enable()
model = prepare_model_for_kbit_training(model)
# Define LoRA configuration
lora_config = LoraConfig(
    r=8,
    lora_alpha=32,
    target_modules=["q_proj", "v_proj", "k_proj", "o_proj", "gate_proj", "up_proj", "down_proj"], 
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM"
)
model = get_peft_model(model, lora_config)
model.print_trainable_parameters()

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db = next((db for db in tables_data if db['db_id'] == db_id), None)
    if not db:
        return ""

    schema_info += f"CREATE DATABASE {db_id};\n"
    for t_idx, t_name in enumerate(db['table_names_original']):
        schema_info += f"CREATE TABLE {t_name} (\n"
        columns = [
            f"   {col_name} TEXT"
            for col_idx, (tbl_idx, col_name) in enumerate(db['column_names_original'])
            if tbl_idx == t_idx
        ]
        schema_info += ",\n".join(columns) + "\n);\n"
    return schema_info

# Prompt template
def create_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        "### SQL Query:\n"
    )

# Load Spider training files and schema definitions
train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
all_train_data_raw = train_spider_data + train_others_data 
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

train_samples = []
for sample in all_train_data_raw: 
    schema = get_db_schema_for_prompt(sample['db_id'], tables_data)
    prompt = create_prompt(sample['question'], schema)
    target = sample['query']
    full_text = prompt + target 
    train_samples.append({"text": full_text})

hf_dataset = Dataset.from_list(train_samples)

# Randomly select a subset of data for faster fine-tuning
SUBSET_RATIO = 0.3 
train_subset_size = int(SUBSET_RATIO * len(hf_dataset))
train_dataset_subset = hf_dataset.shuffle(seed=42).select(range(train_subset_size))

print(f"\n[INFO] Using {len(train_dataset_subset)} samples ({SUBSET_RATIO*100:.0f}%) of the dataset for fine-tuning.")
print(f"Sample formatted text for fine-tuning:\n{train_dataset_subset[0]['text'][:500]}...")


def tokenize(example):
    return tokenizer(example["text"], truncation=True, padding="max_length", max_length=256) 

tokenized_dataset = train_dataset_subset.map(tokenize, batched=True, remove_columns=["text"])

# Data collator for causal language modeling
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer,
    mlm=False
)

# Define training configuration
training_args = TrainingArguments(
    output_dir=OUTPUT_DIR,
    num_train_epochs=3,
    per_device_train_batch_size=2,
    gradient_accumulation_steps=8,
    warmup_steps=100,
    learning_rate=2e-4, 
    logging_dir="./logs",
    logging_steps=10,
    save_steps=500,
    fp16=False, 
    bf16=True, 
    save_total_limit=2,
    report_to="none", 
    seed=42, 
    dataloader_num_workers=os.cpu_count() // 2,)

# training phase
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset,
    tokenizer=tokenizer,
    data_collator=data_collator
)
trainer.train()

trainer.save_model("fine_tuned_gemma_spider_lora")
tokenizer.save_pretrained("fine_tuned_gemma_spider_lora")

In [4]:
OFFLOAD_DIR = "./offload"
os.makedirs(OFFLOAD_DIR, exist_ok=True)
DATA_DIR = "spider"
MODEL_DIR = "qlora_output/checkpoint-489"

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

tokenizer = AutoTokenizer.from_pretrained("google/gemma-2b-it")
base_model = AutoModelForCausalLM.from_pretrained(
    "google/gemma-2b-it",
    device_map="auto",
    torch_dtype=torch.bfloat16
)

# Load LoRA adapter weights
model = PeftModel.from_pretrained(
    base_model,
    MODEL_DIR,
    offload_dir=OFFLOAD_DIR  
)
model.eval()
model = model.to(device)  

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

# Extract database schema 
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        f"### SQL Query:\n"
    )

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned = generated_text.replace(prompt_text, "").strip()
    cleaned = re.sub(r'```sql\s*', '', cleaned, flags=re.IGNORECASE)
    cleaned = re.sub(r'```\s*', '', cleaned, flags=re.IGNORECASE)
    return cleaned.split(';')[0].strip()

def normalize_sql(sql):
    return re.sub(r'\s+', ' ', sql).strip().upper()

# Exact match comparison
def calculate_exact_match(pred, gold):
    return 1 if normalize_sql(pred) == normalize_sql(gold) else 0

# Jaccard similarity
def calculate_jaccard_similarity(pred, gold):
    s1, s2 = set(normalize_sql(pred).split()), set(normalize_sql(gold).split())
    return len(s1 & s2) / len(s1 | s2) if s1 | s2 else 1.0

# Load evaluation data
dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

# Evaluate the model
exact_matches = 0
jaccard_scores = 0
n_samples = len(dev_data) 

for i, sample in enumerate(dev_data[:n_samples]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query']
    schema = get_db_schema_for_prompt(db_id, tables_data)
    prompt = create_sql_generation_prompt(question, schema)

    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(device)
        with torch.no_grad():
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100,
                num_beams=1,
                do_sample=True,
                temperature=0.5, 
                pad_token_id=tokenizer.eos_token_id
            )
        gen_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(gen_text, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error on sample {i}: {e}")

# Final evaluation report
print("\nEvaluation Results (Fine-tuned Model):")
print(f"Samples evaluated: {n_samples}")
print(f"Average Exact Match (EM): {exact_matches / n_samples:.4f}")
print(f"Average Jaccard Similarity (JS): {jaccard_scores / n_samples:.4f}")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

Some parameters are on the meta device because they were offloaded to the cpu.

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY Age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE Country  =  'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE Country  =  'France' GROUP BY Country ORDER BY age ASC
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6875

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT T1.Name ,  T1.Song_release_year FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.Age  =  (SELECT MIN(Age) FROM singer) GROUP BY T1.Name ORDER BY T1.Age ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2759

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT name ,  song_release_year FROM singer WHERE age  =  (SELECT min(age) FROM singer) ORDER BY age ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T1.Age  >  20 AND T1.is_male  =  'T' GROUP BY T1.Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2059

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT Country FROM singer WHERE Age  >  20 GROUP BY Country
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7273

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT country ,  count(*) FROM singer GROUP BY country ORDER BY count(*) DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT count(*) ,  country FROM singer GROUP BY country ORDER BY count(*) DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT Song_Name FROM singer WHERE Age  >  (SELECT avg(age) FROM singer) FROM singer
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 1.0000

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT Song_Name FROM singer WHERE Age  >  (SELECT avg(Age) FROM singer) FROM singer
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 1.0000

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT name ,  LOCATION FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 1.0000

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT T1.Name ,  COUNT(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T1.Name ORDER BY COUNT(*) DESC
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5652

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id JOIN singer AS T3 ON T2.singer_id  =  T3.singer_id GROUP BY T1.Stadium_ID
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5417

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT T1.name ,  T1.capacity FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE YEAR(T2.year)  =  2014 OR T2.year  >  2014 GROUP BY T1.name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6875

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT name ,  capacity FROM stadium WHERE YEAR  >=  2013 ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4000

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T1.name FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.name HAVING count(*)  =  0
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1538

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)

### Output:
| name |
|---|---|
| Anfield Road |
| Wembley Stadium |
| Tottenham Hotspur Stadium |
| Emirates Stadium |
| St. James' Park |
| Brighton & Hove Albion Stadium |
| Craven Cottage |
| Elland Road |
| King Power Stadium |
| Luton Town Stadium |
| Middlesbrough Stadium |
| Nottingham Forest Stadium |
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2703

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT Country FROM singer WHERE Age  >  40 INTERSECT SELECT Country FROM singer WHERE Age  <  30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T1.name FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T2.year  =  2014
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014 GROUP BY T1.stadium_id HAVING count(*)  =  0
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7826

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT T1.Name ,  T1.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT T1.Name ,  T1.Theme ,  COUNT(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ORDER BY COUNT(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6667

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT name ,  count(*) FROM singer GROUP BY name ORDER BY count(*) DESC LIMIT 10
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT T1.Name ,  count(*) FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7273

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT name FROM singer WHERE age  =  "20" AND is_male  =  "1" INTERSECT SELECT name FROM concert WHERE YEAR  =  "2014" INTERSECT SELECT t1.name FROM concert AS t1 JOIN singer_in_concert AS t2 ON t1.concert_id  =  t2.concert_id JOIN singer AS t3 ON t2.singer_id  =  t3.singer_id WHERE t
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4545

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT T1.Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Year  =  2014 GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6207

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT T2.name ,  T2.country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T2.concert_id  =  T3.concert_id WHERE T1.name  =  "hey" AND T3.year  =  "2001" AND T1.age  =  "25" AND
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1562

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT T2.Name ,  T2.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T1.song_name LIKE '%Hey%' AND T2.name LIKE '%%Hey%' THEN T2.Name ,  T2.Country
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2800

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT name ,  LOCATION FROM stadium WHERE Stadium_ID IN (SELECT stadium_id FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015) GROUP BY stadium_id HAVING COUNT(*)  >=  2
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2353

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.year  =  2014 INTERSECT SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T2.year  =  2015
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT count(*) FROM concert WHERE stadium.Capacity  =  (SELECT max(Capacity) FROM stadium) GROUP BY stadium_id
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2308

--- Sample 45 ---
Database ID: concert_singer
Question: What are the number of concerts that occurred in the stadium with the largest capacity?
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN (SELECT Stadium_ID FROM stadium ORDER BY Capacity DESC LIMIT 1) GROUP BY concert_id ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3704

--- Sample 46 ---
Database ID: pets_1
Question: Find the number of pets whose weight is heavier than 10.
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 47 ---
Database ID: pets_1
Question: How many pets have a greater weight than 10?
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 48 ---

- Temperature = 1.0

In [ ]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM, BitsAndBytesConfig
from transformers import Trainer, TrainingArguments, DataCollatorForLanguageModeling
from peft import prepare_model_for_kbit_training, LoraConfig, get_peft_model
from datasets import Dataset
from peft import PeftModel
import json
import os
import re

MODEL_ID = "google/gemma-2b-it"
DATA_DIR = "spider"
OUTPUT_DIR = "qlora_output"

# 4-bit quantization configuration
bnb_config = BitsAndBytesConfig(
    load_in_4bit=True,
    bnb_4bit_compute_dtype=torch.bfloat16,
    bnb_4bit_use_double_quant=True,
    bnb_4bit_quant_type="nf4",
)

tokenizer = AutoTokenizer.from_pretrained(MODEL_ID)
model = AutoModelForCausalLM.from_pretrained(
    MODEL_ID,
    quantization_config=bnb_config,
    device_map="auto"
)

model.gradient_checkpointing_enable()
model = prepare_model_for_kbit_training(model)
# Define LoRA configuration
lora_config = LoraConfig(
    r=8,
    lora_alpha=32,
    target_modules=["q_proj", "v_proj", "k_proj", "o_proj", "gate_proj", "up_proj", "down_proj"], 
    lora_dropout=0.05,
    bias="none",
    task_type="CAUSAL_LM"
)
model = get_peft_model(model, lora_config)
model.print_trainable_parameters()

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db = next((db for db in tables_data if db['db_id'] == db_id), None)
    if not db:
        return ""

    schema_info += f"CREATE DATABASE {db_id};\n"
    for t_idx, t_name in enumerate(db['table_names_original']):
        schema_info += f"CREATE TABLE {t_name} (\n"
        columns = [
            f"   {col_name} TEXT"
            for col_idx, (tbl_idx, col_name) in enumerate(db['column_names_original'])
            if tbl_idx == t_idx
        ]
        schema_info += ",\n".join(columns) + "\n);\n"
    return schema_info

# Prompt template
def create_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        "### SQL Query:\n"
    )

# Load Spider training files and schema definitions
train_spider_data = load_json_file(os.path.join(DATA_DIR, "train_spider.json"))
train_others_data = load_json_file(os.path.join(DATA_DIR, "train_others.json"))
all_train_data_raw = train_spider_data + train_others_data 
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

train_samples = []
for sample in all_train_data_raw: 
    schema = get_db_schema_for_prompt(sample['db_id'], tables_data)
    prompt = create_prompt(sample['question'], schema)
    target = sample['query']
    full_text = prompt + target 
    train_samples.append({"text": full_text})

hf_dataset = Dataset.from_list(train_samples)

# Randomly select a subset of data for faster fine-tuning
SUBSET_RATIO = 0.3 
train_subset_size = int(SUBSET_RATIO * len(hf_dataset))
train_dataset_subset = hf_dataset.shuffle(seed=42).select(range(train_subset_size))

print(f"\n[INFO] Using {len(train_dataset_subset)} samples ({SUBSET_RATIO*100:.0f}%) of the dataset for fine-tuning.")
print(f"Sample formatted text for fine-tuning:\n{train_dataset_subset[0]['text'][:500]}...")


def tokenize(example):
    return tokenizer(example["text"], truncation=True, padding="max_length", max_length=256) 

tokenized_dataset = train_dataset_subset.map(tokenize, batched=True, remove_columns=["text"])

# Data collator for causal language modeling
data_collator = DataCollatorForLanguageModeling(
    tokenizer=tokenizer,
    mlm=False
)

# Define training configuration
training_args = TrainingArguments(
    output_dir=OUTPUT_DIR,
    num_train_epochs=3,
    per_device_train_batch_size=2,
    gradient_accumulation_steps=8,
    warmup_steps=100,
    learning_rate=2e-4, 
    logging_dir="./logs",
    logging_steps=10,
    save_steps=500,
    fp16=False, 
    bf16=True, 
    save_total_limit=2,
    report_to="none", 
    seed=42, 
    dataloader_num_workers=os.cpu_count() // 2,)

# training phase
trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=tokenized_dataset,
    tokenizer=tokenizer,
    data_collator=data_collator
)
trainer.train()

trainer.save_model("fine_tuned_gemma_spider_lora")
tokenizer.save_pretrained("fine_tuned_gemma_spider_lora")

In [6]:
OFFLOAD_DIR = "./offload"
os.makedirs(OFFLOAD_DIR, exist_ok=True)
DATA_DIR = "spider"
MODEL_DIR = "qlora_output/checkpoint-489"

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

tokenizer = AutoTokenizer.from_pretrained("google/gemma-2b-it")
base_model = AutoModelForCausalLM.from_pretrained(
    "google/gemma-2b-it",
    device_map="auto",
    torch_dtype=torch.bfloat16
)

# Load LoRA adapter weights
model = PeftModel.from_pretrained(
    base_model,
    MODEL_DIR,
    offload_dir=OFFLOAD_DIR  
)
model.eval()
model = model.to(device)  

def load_json_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as f:
        return json.load(f)

# Extract database schema 
def get_db_schema_for_prompt(db_id, tables_data):
    schema_info = ""
    db_found = None
    for db in tables_data: 
        if db['db_id'] == db_id: 
            db_found = db
            break
    
    if db_found:
        schema_info += f"CREATE DATABASE {db_id};\n" 
        for table_idx, table_name_original in enumerate(db_found['table_names_original']): 
            schema_info += f"CREATE TABLE {table_name_original} (\n"
            table_cols = []
            for col_idx, (col_table_idx, col_name_original) in enumerate(db_found['column_names_original']): 
                if col_table_idx == table_idx:
                    col_type = "TEXT" 
                    table_cols.append(f"   {col_name_original} {col_type}")
            
            schema_info += ",\n".join(table_cols)
            schema_info += "\n);\n"
        
        if 'primary_keys' in db_found and db_found['primary_keys']:
            schema_info += "-- Primary Keys:\n"
            for pk_col_idx in db_found['primary_keys']: 
                pk_table_idx, pk_col_name = db_found['column_names_original'][pk_col_idx] 
                pk_table_name = db_found['table_names_original'][pk_table_idx] 
                schema_info += f"-- {pk_table_name}.{pk_col_name} is PRIMARY KEY\n"
        
        if 'foreign_keys' in db_found and db_found['foreign_keys']:
            schema_info += "-- Foreign Keys:\n"
            for fk_info in db_found['foreign_keys']: 
                fk_col_idx = fk_info[0]
                ref_col_idx = fk_info[1]
                fk_table_idx, fk_col_name = db_found['column_names_original'][fk_col_idx] 
                fk_table_name = db_found['table_names_original'][fk_table_idx] 
                
                ref_table_idx, ref_col_name = db_found['column_names_original'][ref_col_idx] 
                ref_table_name = db_found['table_names_original'][ref_table_idx] 
                schema_info += f"-- {fk_table_name}.{fk_col_name} REFERENCES {ref_table_name}.{ref_col_name}\n"
    return schema_info

# Prompt template
def create_sql_generation_prompt(question, schema):
    return (
        "You are a skilled SQL assistant. Given a SQL database schema and a natural language question, generate the correct SQL query.\n"
        "Do not make up table or column names. Only use the ones that exist in the schema.\n\n"
        f"### Database Schema:\n{schema}\n\n"
        f"### Question:\n{question}\n\n"
        f"### SQL Query:\n"
    )

def extract_sql_from_model_output(generated_text, prompt_text):
    cleaned = generated_text.replace(prompt_text, "").strip()
    cleaned = re.sub(r'```sql\s*', '', cleaned, flags=re.IGNORECASE)
    cleaned = re.sub(r'```\s*', '', cleaned, flags=re.IGNORECASE)
    return cleaned.split(';')[0].strip()

def normalize_sql(sql):
    return re.sub(r'\s+', ' ', sql).strip().upper()

# Exact match comparison
def calculate_exact_match(pred, gold):
    return 1 if normalize_sql(pred) == normalize_sql(gold) else 0

# Jaccard similarity
def calculate_jaccard_similarity(pred, gold):
    s1, s2 = set(normalize_sql(pred).split()), set(normalize_sql(gold).split())
    return len(s1 & s2) / len(s1 | s2) if s1 | s2 else 1.0

# Load evaluation data
dev_data = load_json_file(os.path.join(DATA_DIR, "dev.json"))
tables_data = load_json_file(os.path.join(DATA_DIR, "tables.json"))

# Evaluate the model
exact_matches = 0
jaccard_scores = 0
n_samples = len(dev_data) 

for i, sample in enumerate(dev_data[:n_samples]):
    question = sample['question']
    db_id = sample['db_id']
    gold_sql = sample['query']
    schema = get_db_schema_for_prompt(db_id, tables_data)
    prompt = create_sql_generation_prompt(question, schema)

    try:
        input_ids = tokenizer(prompt, return_tensors="pt").to(device)
        with torch.no_grad():
            outputs = model.generate(
                **input_ids,
                max_new_tokens=100,
                num_beams=1,
                do_sample=True,
                temperature=1.0, 
                pad_token_id=tokenizer.eos_token_id
            )
        gen_text = tokenizer.decode(outputs[0], skip_special_tokens=True)
        generated_sql = extract_sql_from_model_output(gen_text, prompt)

        em = calculate_exact_match(generated_sql, gold_sql)
        js = calculate_jaccard_similarity(generated_sql, gold_sql)

        exact_matches += em
        jaccard_scores += js

        if i < 100: 
            print(f"\n--- Sample {i+1} ---")
            print(f"Database ID: {db_id}")
            print(f"Question: {question}")
            print(f"Generated SQL: {generated_sql}")
            print(f"Gold SQL: {gold_sql}")
            print(f"Exact Match (EM): {em:.4f}, Jaccard Score (JS): {js:.4f}")

    except Exception as e:
        print(f"Error on sample {i}: {e}")

# Final evaluation report
print("\nEvaluation Results (Fine-tuned Model):")
print(f"Samples evaluated: {n_samples}")
print(f"Average Exact Match (EM): {exact_matches / n_samples:.4f}")
print(f"Average Jaccard Similarity (JS): {jaccard_scores / n_samples:.4f}")

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

--- Sample 1 ---
Database ID: concert_singer
Question: How many singers do we have?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 2 ---
Database ID: concert_singer
Question: What is the total number of singers?
Generated SQL: SELECT count(*) FROM singer
Gold SQL: SELECT count(*) FROM singer
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 3 ---
Database ID: concert_singer
Question: Show name, country, age for all singers ordered by age from the oldest to the youngest.
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 4 ---
Database ID: concert_singer
Question: What are the names, countries, and ages for every singer in descending order of age?
Generated SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Gold SQL: SELECT name ,  country ,  age FROM singer ORDER BY age DESC
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 5 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age of all singers from France?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 6 ---
Database ID: concert_singer
Question: What is the average, minimum, and maximum age for all French singers?
Generated SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE Country  =  'France' GROUP BY country ORDER BY count(*) ASC
Gold SQL: SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6875

--- Sample 7 ---
Database ID: concert_singer
Question: Show the name and the release year of the song by the youngest singer.
Generated SQL: SELECT song_name ,  song_release_year FROM singer WHERE AGE  =  (SELECT min(AGE) FROM singer) ORDER BY AGE ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.6471

--- Sample 8 ---
Database ID: concert_singer
Question: What are the names and release years for all the songs of the youngest singer?
Generated SQL: SELECT name ,  song_release_year FROM singer WHERE age  =  (SELECT min(age) FROM singer) ORDER BY age ASC LIMIT 1
Gold SQL: SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.5556

--- Sample 9 ---
Database ID: concert_singer
Question: What are all distinct countries where singers above age 20 are from?
Generated SQL: SELECT DISTINCT T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T1.Age  >  20 GROUP BY T1.Country ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2258

--- Sample 10 ---
Database ID: concert_singer
Question: What are  the different countries with singers above age 20?
Generated SQL: SELECT DISTINCT Country FROM singer WHERE Age  >  20
Gold SQL: SELECT DISTINCT country FROM singer WHERE age  >  20
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 11 ---
Database ID: concert_singer
Question: Show all countries and the number of singers in each country.
Generated SQL: SELECT Country ,  COUNT(*) FROM singer GROUP BY Country ORDER BY count(*) DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 12 ---
Database ID: concert_singer
Question: How many singers are from each country?
Generated SQL: SELECT count(*) ,  country FROM singer GROUP BY country ORDER BY count(*) DESC
Gold SQL: SELECT country ,  count(*) FROM singer GROUP BY country
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8000

--- Sample 13 ---
Database ID: concert_singer
Question: List all song names by singers above the average age.
Generated SQL: SELECT Song_Name FROM singer WHERE Age  >  (SELECT avg(Age) FROM singer) FROM singer ORDER BY Age ASC
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7692

--- Sample 14 ---
Database ID: concert_singer
Question: What are all the song names by singers who are older than average?
Generated SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer) FROM singer
Gold SQL: SELECT song_name FROM singer WHERE age  >  (SELECT avg(age) FROM singer)
Exact Match (EM): 0.0000, Jaccard Score (JS): 1.0000

--- Sample 15 ---
Database ID: concert_singer
Question: Show location and name for all stadiums with a capacity between 5000 and 10000.
Generated SQL: SELECT T2.Location ,  T2.Name FROM stadium AS T1 JOIN T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE T1.Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3913

--- Sample 16 ---
Database ID: concert_singer
Question: What are the locations and names of all stations with capacity between 5000 and 10000?
Generated SQL: SELECT LOCATION ,  Name FROM stadium WHERE Capacity BETWEEN 5000 AND 10000
Gold SQL: SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 17 ---
Database ID: concert_singer
Question: What is the average and the maximum capacity of all stadiums?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 18 ---
Database ID: concert_singer
Question: What is the average and maximum capacities for all stations?
Generated SQL: SELECT avg(Capacity) ,  max(Capacity) FROM stadium
Gold SQL: SELECT avg(capacity) ,  max(capacity) FROM stadium
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 19 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with highest average attendance?
Generated SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 20 ---
Database ID: concert_singer
Question: What is the name and capacity for the stadium with the highest average attendance?
Generated SQL: SELECT T1.name ,  T1.capacity FROM stadium AS T1 JOIN concert AS T2 ON T2.Stadium_ID  =  T1.Stadium_ID ORDER BY T1.average DESC LIMIT 1
Gold SQL: SELECT name ,  capacity FROM stadium ORDER BY average DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3750

--- Sample 21 ---
Database ID: concert_singer
Question: How many concerts are there in year 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 22 ---
Database ID: concert_singer
Question: How many concerts occurred in 2014 or 2015?
Generated SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Gold SQL: SELECT count(*) FROM concert WHERE YEAR  =  2014 OR YEAR  =  2015
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 23 ---
Database ID: concert_singer
Question: Show the stadium name and the number of concerts in each stadium.
Generated SQL: SELECT name ,  count(*) FROM concert GROUP BY stadium ORDER BY count(*) DESC
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4000

--- Sample 24 ---
Database ID: concert_singer
Question: For each stadium, how many concerts play there?
Generated SQL: SELECT count(*) , * FROM concert WHERE Stadium_ID IN (SELECT Stadium_ID FROM stadium) GROUP BY Stadium_ID ORDER BY count(*) DESC
Gold SQL: SELECT T2.name ,  count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2800

--- Sample 25 ---
Database ID: concert_singer
Question: Show the stadium name and capacity with most number of concerts in year 2014 or after.
Generated SQL: SELECT name ,  capacity FROM stadium WHERE YEAR  >=  2014 GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4828

--- Sample 26 ---
Database ID: concert_singer
Question: What is the name and capacity of the stadium  with the most concerts after 2013?
Generated SQL: SELECT name ,  capacity FROM stadium WHERE YEAR  >=  2013 ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4000

--- Sample 27 ---
Database ID: concert_singer
Question: Which year has most number of concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 28 ---
Database ID: concert_singer
Question: What is the year that had the most concerts?
Generated SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT YEAR FROM concert GROUP BY YEAR ORDER BY count(*) DESC LIMIT 1
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 29 ---
Database ID: concert_singer
Question: Show the stadium names without any concert.
Generated SQL: SELECT T1.name FROM stadium AS T1 LEFT JOIN concert AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T2.concert_id  =  null ORDER BY T1.name
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1600

--- Sample 30 ---
Database ID: concert_singer
Question: What are the names of the stadiums without any concerts?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert) LIMIT 1
Gold SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert)
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.8333

--- Sample 31 ---
Database ID: concert_singer
Question: Show countries where a singer above age 40 and a singer below 30 are from.
Generated SQL: SELECT Country FROM singer WHERE AGE  >  40 INTERSECT SELECT Country FROM singer WHERE AGE  <  30
Gold SQL: SELECT country FROM singer WHERE age  >  40 INTERSECT SELECT country FROM singer WHERE age  <  30
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 32 ---
Database ID: concert_singer
Question: Show names for all stadiums except for stadiums having a concert in year 2014.
Generated SQL: SELECT name FROM stadium EXCEPT SELECT name FROM stadium WHERE stadium_id IN (SELECT stadium_id FROM concert WHERE YEAR  =  2014)


*** Output: ***
(null)
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3077

--- Sample 33 ---
Database ID: concert_singer
Question: What are the names of all stadiums that did not have a concert in 2014?
Generated SQL: SELECT name FROM stadium WHERE stadium_id NOT IN (SELECT stadium_id FROM concert WHERE year  =  2014)


### Explanation:
This query selects the names of all stadiums that did not have a concert in 2014.

It uses the NOT IN operator to check if the stadium_id is not present in the result set of the SELECT query. The result set is all the stadiums that did not have a concert in 2014.
Gold SQL: SELECT name FROM stadium EXCEPT SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1400

--- Sample 34 ---
Database ID: concert_singer
Question: Show the name and theme for all concerts and the number of singers in each concert.
Generated SQL: SELECT T1.Name ,  T2.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.concert_ID  =  T2.concert_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 35 ---
Database ID: concert_singer
Question: What are the names, themes, and number of singers for each and every concert?
Generated SQL: SELECT T1.Name ,  T4.Theme ,  count(*) FROM concert AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN singer AS T3 ON T2.Singer_ID  =  T3.Singer_ID GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.concert_name ,  T2.theme ,  count(*) FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4828

--- Sample 36 ---
Database ID: concert_singer
Question: List singer names and number of concerts for each singer.
Generated SQL: SELECT name ,  COUNT(*) FROM singer GROUP BY name ORDER BY COUNT(*) DESC LIMIT 10
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 37 ---
Database ID: concert_singer
Question: What are the names of the singers and number of concerts for each person?
Generated SQL: SELECT name ,  COUNT(*) FROM singer GROUP BY name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT T2.name ,  count(*) FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3182

--- Sample 38 ---
Database ID: concert_singer
Question: List all singer names in concerts in year 2014.
Generated SQL: SELECT Name FROM singer WHERE Age  =  2014 OR Age  =  2015 OR Age  =  2016 OR Age  =  2017 OR Age  =  2018 OR Age  =  2019 OR Age  =  2020 OR Age  =  2021 OR Age  =  2022
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1935

--- Sample 39 ---
Database ID: concert_singer
Question: What are the names of the singers who performed in a concert in 2014?
Generated SQL: SELECT T1.Name FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Year  =  2014 GROUP BY T2.singer_id HAVING count(*)  =  1


### Explanation:
This query selects the names of singers from the singer table who
Gold SQL: SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id JOIN concert AS T3 ON T1.concert_id  =  T3.concert_id WHERE T3.year  =  2014
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.4737

--- Sample 40 ---
Database ID: concert_singer
Question: what is the name and nation of the singer who have a song having 'Hey' in its name?
Generated SQL: SELECT T1.Name ,  T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID = T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID = T3.concert_ID WHERE T3.song_name =  'Hey' GROUP BY T1.Name ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1471

--- Sample 41 ---
Database ID: concert_singer
Question: What is the name and country of origin of every singer who has a song with the word 'Hey' in its title?
Generated SQL: SELECT T1.Name ,  T1.Country FROM singer AS T1 JOIN singer_in_concert AS T2 ON T1.Singer_ID  =  T2.Singer_ID JOIN concert AS T3 ON T2.concert_ID  =  T3.concert_ID WHERE T3.Song_Name  =  'Hey' AND T1.Name != 'Michael Jackson' GROUP BY T1.Name HAVING COUNT(*)  =  1 UNION SELECT
Gold SQL: SELECT name ,  country FROM singer WHERE song_name LIKE '%Hey%'
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.1351

--- Sample 42 ---
Database ID: concert_singer
Question: Find the name and location of the stadiums which some concerts happened in the years of both 2014 and 2015.
Generated SQL: SELECT name ,  location FROM stadium WHERE stadium_id IN (SELECT stadium_id FROM concert WHERE year  =  2014) OR stadium_id IN (SELECT stadium_id FROM concert WHERE year  =  2015) GROUP BY stadium_id HAVING count(*)  >=  2
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2000

--- Sample 43 ---
Database ID: concert_singer
Question: What are the names and locations of the stadiums that had concerts that occurred in both 2014 and 2015?
Generated SQL: SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE YEAR  =  2014 INTERSECT SELECT T1.name ,  T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.Stadium_ID  =  T2.Stadium_ID WHERE YEAR  =  2015
Gold SQL: SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2014 INTERSECT SELECT T2.name ,  T2.location FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.Year  =  2015
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.7391

--- Sample 44 ---
Database ID: concert_singer
Question: Find the number of concerts happened in the stadium with the highest capacity.
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id = (SELECT max(id) FROM stadium) GROUP BY stadium_id
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.2400

--- Sample 45 ---
Database ID: concert_singer
Question: What are the number of concerts that occurred in the stadium with the largest capacity?
Generated SQL: SELECT count(*) FROM concert WHERE stadium_id IN (SELECT Stadium_ID FROM stadium ORDER BY capacity DESC LIMIT 1) GROUP BY stadium_id ORDER BY count(*) DESC LIMIT 1
Gold SQL: SELECT count(*) FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id ORDER BY T2.Capacity DESC LIMIT 1
Exact Match (EM): 0.0000, Jaccard Score (JS): 0.3846

--- Sample 46 ---
Database ID: pets_1
Question: Find the number of pets whose weight is heavier than 10.
Generated SQL: SELECT count(*) FROM Pets WHERE weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 47 ---
Database ID: pets_1
Question: How many pets have a greater weight than 10?
Generated SQL: SELECT count(*) FROM Pets WHERE Weight  >  10
Gold SQL: SELECT count(*) FROM pets WHERE weight  >  10
Exact Match (EM): 1.0000, Jaccard Score (JS): 1.0000

--- Sample 48 ---
Database ID: pets_1
Question: Find the weight of the youngest dog.
Generated SQL: SELECT weight FROM Pets WHERE PetType = "Dog" AND age = (SELECT min(age) FROM Student)
Gold SQL: SELECT weight FROM pets ORDER BY pet_age LIMIT 1